<div>
  <button type="button" class="btn  btn-icon mr-2 d-none d-md-block"
          [ngClass]="notFound ? 'btn-outline-warning' :'btn-outline-info' "
          (click)="openModal(tradeModal)">
    <i class="btn-icon-prepend"
       data-feather="eye"
       appFeatherIcon></i>
  </button>


  <ng-template #tradeModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Trade Detail</h4>

      <app-trade-updates-modal [tradeInput]="trade"
                               (tradeUpdateEmitter)="tradeUpdate($event)">

      </app-trade-updates-modal>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <app-trade-detail [trade]="trade">

        </app-trade-detail>
      </div>

      <div>
        <h4 *ngIf="notFound" class="text-warning mt-3 mb-3">Searching for</h4>
        <pre *ngIf="notFound">
          {{trade.trade.info.marketInfo.marketName}}
          {{trade.trade.info.date | date}}
          {{trade.trade.info.date}}
        </pre>
        <h4 *ngIf="notFound" class="text-warning mt-3 mb-3">Chart not available, Market id not found...</h4>
        <app-loading-cards *ngIf="(isLoadingMarketDetails$ | async).isLoading"></app-loading-cards>
        <app-tv-market-prices-and-trades *ngIf="(isLoadingMarketDetails$ | async).isLoadingSuccess"
                                         [marketDetail]="marketDetails$ | async"
                                         [trade]="trade"
                                         [marketDetailsFound]="!notFound">
        </app-tv-market-prices-and-trades>
      </div>

    </div>
  </ng-template>
</div>


