<h5 (click)="collapsed = !collapsed"
    [ngClass]="collapsed ? 'text-gray' : title ? title.indexOf('(A)')!==-1 ? 'text-primary' : 'text-danger' : ''">
  Bets -  {{title}}
</h5>
<div class="table-responsive pb-2" [ngbCollapse]="collapsed">
  <table class="table table-sm table-bordered text-center text-monospace">
    <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Point</th>
      <th>S1</th>
      <th>Game</th>
      <th>S2</th>
      <th>Options</th>
      <th>Selection</th>
      <th>Odds</th>
      <th>Stake</th>
      <th>Liability</th>
      <th>To Win</th>
      <th>A</th>
      <th>B</th>
    </tr>
    </thead>
    <tbody>
    <tr [ngClass]="bet.type==='back' ? 'table-primary' : 'table-danger' " *ngFor="let bet of bets, index as i"
        [ngbTooltip]="popContent"
        [autoClose]="'outside'">
      <td>
        {{bet.id}}
      </td>
      <td>
        <b> {{bet.time ? (bet.time | date:'HH:mm:ss') : 0 }}</b>
        <!--          <b> {{bet.time | date:'HH:mm:ss'}}</b>-->
      </td>
      <td>
        <h6>{{bet.point | tennisPoint: false:false}}</h6>
      </td>
      <td>
        <b *ngIf="bet.point.currentGame.server ? bet.point.currentGame.server==='A' : false"><span class="badge badge-warning">A</span></b>
      </td>
      <td>
        <h6>{{bet.point.currentGame.runnerA}}-{{bet.point.currentGame.runnerB}}</h6>
      </td>
      <td>
        <b *ngIf="bet.point.currentGame.server ? bet.point.currentGame.server==='B' : false"><span class="badge badge-warning">B</span></b>
      </td>
      <td>
        <app-bet-options-formatter [betOptions]="bet.options"></app-bet-options-formatter>
      </td>
      <td>
        <h6 *ngIf="bet.selectionN===0" class="text-primary">(A) {{bet.selectionName ? bet.selectionName.substr(0,18) : ''}} </h6>
        <h6 *ngIf="bet.selectionN===1" class="text-danger">(B) {{bet.selectionName ? bet.selectionName.substr(0,18) : ''}}</h6>
      </td>
      <td>
        <h4>{{bet.odds}}</h4>
      </td>
      <td>
        <h5>{{bet.stake | currency}}</h5>
      </td>
      <td>
        <b *ngIf="bet.type==='lay'">{{bet.liability | currency}}</b>
        <b *ngIf="bet.type==='back'"> -- </b>
      </td>
      <td>
        <b>{{bet.toWin | currency}}</b>
      </td>
      <td>
        <h5 [ngClass]="getSide(i, 0)>0 ? 'text-success' : getSide(i, 0)===0 ? 'text-warning' : 'text-danger' "> <b>{{getSide(i, 0) | currency}}</b></h5>
      </td>
      <td>
        <h5 [ngClass]="getSide(i, 1)>0 ? 'text-success' : getSide(i, 0)===0 ? 'text-warning' : 'text-danger' "> <b>{{getSide(i, 1) | currency}}</b></h5>
      </td>
      <ng-template #popContent>
        <h6><b>{{bet.note}}</b></h6>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>
