<div class="d-flex justify-content-end align-items-center flex-wrap mb-2">
  <h3>Live Now:
    {{counter(runnerRowsFirstMonitor)
    + counter(runnerRowsSecondMonitor)
    + counter(runnerRowsThirdMonitor)
    + counter(runnerRowsSecondaryMonitor)
    + counter(runnerRowsThirdPcMonitor)}}
  </h3>
</div>

<div class="mt-1 mb-1">
  <h4>A:  {{counter(runnerRowsFirstMonitor)}}</h4>
  <ul class="list-group material-stripped" dragula="RUNNERS" [(dragulaModel)]="runnerRowsFirstMonitor">
    <li class="list-group-item material-stripped" *ngFor="let row of runnerRowsFirstMonitor, index as i">
      <app-live-dragula-element [row]="row"
                                [index]="i+1"
                                (changeEmitter)="updateRow($event,'a')"
                                [multiple]="3"
                                [allNotes]="allNotes$ | async">
      </app-live-dragula-element>
    </li>
  </ul>
</div>

<div class="mt-1 mb-1">
  <h4>B:  {{counter(runnerRowsSecondMonitor)}}</h4>
  <ul class="list-group material-stripped" dragula="RUNNERS" [(dragulaModel)]="runnerRowsSecondMonitor">
    <li class="list-group-item material-stripped" *ngFor="let row of runnerRowsSecondMonitor, index as i">
      <app-live-dragula-element [row]="row"
                                [index]="i+1"
                                (changeEmitter)="updateRow($event,'b')"
                                [multiple]="3"
                                [allNotes]="allNotes$ | async">
      </app-live-dragula-element>
    </li>
  </ul>
</div>

<div class="mt-1 mb-1">
  <h4>C:  {{counter(runnerRowsThirdMonitor)}}</h4>
  <ul class="list-group material-stripped" dragula="RUNNERS" [(dragulaModel)]="runnerRowsThirdMonitor">
    <li class="list-group-item material-stripped" *ngFor="let row of runnerRowsThirdMonitor, index as i">
      <app-live-dragula-element [row]="row"
                                [index]="i+1"
                                (changeEmitter)="updateRow($event,'c')"
                                [multiple]="3"
                                [allNotes]="allNotes$ | async">
      </app-live-dragula-element>
    </li>
  </ul>
</div>

<div class="mt-1 mb-1">
  <h4>Secondary:  {{counter(runnerRowsSecondaryMonitor)}}</h4>
  <ul class="list-group material-stripped" dragula="RUNNERS" [(dragulaModel)]="runnerRowsSecondaryMonitor">
    <li class="list-group-item material-stripped" *ngFor="let row of runnerRowsSecondaryMonitor, index as i">
      <app-live-dragula-element [row]="row"
                                [index]="i+1"
                                (changeEmitter)="updateRow($event,'d')"
                                [multiple]="3"
                                [allNotes]="allNotes$ | async">
      </app-live-dragula-element>
    </li>
  </ul>
</div>

<div class="mt-1 mb-1">
  <h4>Third:  {{counter(runnerRowsThirdPcMonitor)}}</h4>
  <ul class="list-group material-stripped" dragula="RUNNERS" [(dragulaModel)]="runnerRowsThirdPcMonitor">
    <li class="list-group-item material-stripped" *ngFor="let row of runnerRowsThirdPcMonitor, index as i">
      <app-live-dragula-element [row]="row"
                                [index]="i+1"
                                (changeEmitter)="updateRow($event,'e')"
                                [multiple]="3"
                                [allNotes]="allNotes$ | async">
      </app-live-dragula-element>
    </li>
  </ul>
</div>

<div class="mt-1 mb-1">
  <h4>Extra:  {{counter(runnerRowsExtraPcMonitor)}}</h4>
  <ul class="list-group material-stripped" dragula="RUNNERS" [(dragulaModel)]="runnerRowsExtraPcMonitor">
    <li class="list-group-item material-stripped" *ngFor="let row of runnerRowsExtraPcMonitor, index as i">
      <app-live-dragula-element [row]="row"
                                [index]="i+1"
                                (changeEmitter)="updateRow($event,'f')"
                                [multiple]="3"
                                [allNotes]="allNotes$ | async">
      </app-live-dragula-element>
    </li>
  </ul>
</div>




