<!-- CARD 1 -->
<div class="card mb-2">
  <div class="card-body">
    <app-backtest-editor-form [backtest]="currentBackTest"
                              [isUpdate]="isUpdate"
                              [tradesToAdd]="backtestTradesList"
                              [tradesToRemove]="$backtestTradesToRemove | async">
    </app-backtest-editor-form>
  </div>
</div>
<!-- CARD 2 -->
<div class="card mb-1">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-info">Trade to Add: {{backtestTradesCount}}</h3>
      <h3>PnL: {{backtestPnl(this.backtestTradesList) | currency}}</h3>
      <h3>ROI: {{(backtestROI(this.backtestTradesList)) | percent}}</h3>
    </div>
  </div>
  <div class="card-body">
    <app-trades-datatable *ngIf="($backtestTradesToAdd | async).length"
                          [trades$]="$backtestTradesToAdd"
                          [isSaved]="false"
                          [title]="'Backtest Trade'"
                          [isBackTest]="true"
                          [isBackTestToAdd]="true">
    </app-trades-datatable>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-success">Trades Present: {{($selectedBacktestTrades | async).length}}</h3>
      <h3>PnL: {{backtestPnl(($selectedBacktestTrades | async)) | currency}}</h3>
      <h3>ROI: {{(backtestROI(($selectedBacktestTrades | async))) | percent}}</h3>
    </div>
  </div>
  <div class="card-body">
    <app-trades-datatable *ngIf="($selectedBacktestTrades | async).length"
                          [trades$]="$selectedBacktestTrades"
                          [isSaved]="false"
                          [title]="'Trades already present'"
                          [isBackTest]="true"
                          [isBackTestToAdd]="false">
    </app-trades-datatable>
  </div>
</div>

<div class="card mb-2" *ngIf="isUpdate">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-danger">Trades to Remove: {{($backtestTradesToRemove | async).length}}</h3>
      <h3>PnL: {{backtestPnl(($backtestTradesToRemove | async)) | currency}}</h3>
      <h3>ROI: {{(backtestROI(($backtestTradesToRemove | async))) | percent}}</h3>
    </div>
  </div>

  <div class="card-body">
    <app-trades-datatable *ngIf="($backtestTradesToRemove | async).length"
                          [trades$]="$backtestTradesToRemove"
                          [isSaved]="false"
                          [title]="'Trades to remove'"
                          [isBackTest]="true"
                          [isBackTestToAdd]="false"
                          [isBackTestToAddRemoved]="true">
    </app-trades-datatable>
  </div>
</div>


