  <apx-chart #chartObj
     [series]="lineChartOptions.series"
     [chart]="lineChartOptions.chart"
     [dataLabels]="lineChartOptions.dataLabels"
     [plotOptions]="lineChartOptions.plotOptions"
     [legend]="lineChartOptions.legend"
     [fill]="lineChartOptions.fill"
     [stroke]="lineChartOptions.stroke"
     [tooltip]="lineChartOptions.tooltip"
     [xaxis]="lineChartOptions.xaxis"
     [yaxis]="lineChartOptions.yaxis"
     [theme]="lineChartOptions.theme"
     [colors]="lineChartOptions.colors">
  </apx-chart>

