<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Tennis Tournament List</h4>
    <p>Discover all tennis tournament in DB </p>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <h5 class="mr-3">Last aded on {{lastTournamentDate$ | async | date}}</h5>
    <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block" (click)="refreshAllTennisTournament()">
      <i class="btn-icon-prepend" data-feather="refresh-ccw" appFeatherIcon></i>
      Refresh
    </button>
</div>

<!-- BREADCRUMB -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">BF</a></li>
    <li class="breadcrumb-item"><a routerLink="/tennisTournament">Tennis Tournaments</a></li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>
<!-- /BREADCRUMB -->

<!-- ROW 1-->
<div class="col-12 grid-margin">
  <!-- STATS COMPONENTS-->
  <app-loading-cards *ngIf="(isLoadingTennisTournament$ | async).isLoading"></app-loading-cards>
  <app-tennis-tournament-data-table *ngIf="(isLoadingTennisTournament$ | async).isLoadingSuccess"
                                    [tennisTournaments]="tennisTournament$ | async">

  </app-tennis-tournament-data-table>

</div>
<!-- /ROW 1

<div class="col-12 grid-margin">
  STATS COMPONENTS
  <app-tennis-tournament-detail></app-tennis-tournament-detail>

</div>
-->

