<!-- RECAP -->
<div class="table-responsive pt-3">
  <table class="table table-sm table-bordered">
    <caption>LowLay</caption>
    <thead>
    <tr>
      <th><h5>Type</h5></th>
      <th><h5>Count</h5></th>
      <th><h5>%</h5></th>
      <th><h5>RR1 # [1.16]</h5></th>
      <th><h5>RR1 % [1.16]</h5></th>
      <th><h5>RR2 # [1.23]</h5></th>
      <th><h5>RR2 % [1.23]</h5></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <h4>Total</h4>
      </td>
      <td>
        <h5>{{lowLayReport.count}}</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h4>1.10</h4>
      </td>
      <td>
        <h5>{{lowLayReport.oneTen.count}}</h5>
      </td>
      <td>
        <h5>{{lowLayReport.oneTen.countPercent | percent}}</h5>
      </td>
      <td>
        <h5>{{lowLayReport.oneTen.rr.o116.count}}</h5>
      </td>
      <td>
        <h5>{{lowLayReport.oneTen.rr.o116.percent | percent}}</h5>
      </td>
      <td>
        <h5>{{lowLayReport.oneTen.rr.o123.count}}</h5>
      </td>
      <td>
        <h5>{{lowLayReport.oneTen.rr.o123.percent | percent}}</h5>
      </td>
    </tr>
    </tbody>
  </table>
</div>
