<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Runners Detail</h4>
    <p>Study and view single runners detail, stats and prices.</p>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block" (click)="refreshClick()">
      <i class="btn-icon-prepend" data-feather="refresh-ccw" appFeatherIcon></i>
      Refresh
    </button>
  </div>
</div>

<!-- BREADCRUMB -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">BF</a></li>
    <li class="breadcrumb-item"><a routerLink="/runners">Runners</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
  </ol>
</nav>
<!-- /BREADCRUMB -->

<!-- ROW 1-->
<div class="col-12">
  <div class="row grid-margin">
    <div class="col">
      <app-loading-cards *ngIf="(isLoadingRunnerMarkets$ | async).isLoading || (isLoadingSelectedRunner$ | async).isLoading">

      </app-loading-cards>
      <app-runner-detail-info *ngIf="(isLoadingRunnerMarkets$ | async).isLoadingSuccess && (isLoadingSelectedRunner$ | async).isLoadingSuccess"
                              [runnerInfo]="runnerInfo$ | async"></app-runner-detail-info>
    </div>
    <div class="col">
      <app-loading-cards *ngIf="(isLoadingRunnerMarkets$ | async).isLoading || (isLoadingSelectedRunner$ | async).isLoading">

      </app-loading-cards>
      <app-runner-detail-stats *ngIf="(isLoadingRunnerMarkets$ | async).isLoadingSuccess && (isLoadingSelectedRunner$ | async).isLoadingSuccess"
                               [runnerMarkets]="runnerMarkets$ | async"
                               [runnerId]="runnerId"
                               title="Runner Stats"
                               height="200"></app-runner-detail-stats>
    </div>
  </div>
  <div class="row grid-margin">
    <div class="col grid-margin">
      <app-loading-cards *ngIf="(isLoadingNotes$ | async).isLoading || (isLoadingAllTournament$ | async).isLoading || (isLoadingAllRunners$ | async).isLoading"></app-loading-cards>
      <app-runner-detail-notes *ngIf="(isLoadingNotes$ | async).isLoadingSuccess && (isLoadingAllTournament$ | async).isLoadingSuccess && (isLoadingAllRunners$ | async).isLoadingSuccess"
                               [runnerNotes]="runnerNotes$ | async"
                               [tournamentList]="tournamentList$ | async"
                               [runnersList]="allRunners$ | async">
      </app-runner-detail-notes>
    </div>
  </div>
  <div class="row grid-margin">
    <div class="col">
      <app-loading-cards *ngIf="(isLoadingRunnerMarkets$ | async).isLoading"></app-loading-cards>
      <app-runner-detail-markets *ngIf="(isLoadingRunnerMarkets$ | async).isLoadingSuccess"
                                 [runnerMarkets]="runnerMarkets$ | async"
                                 [runnerId]="runnerId">

      </app-runner-detail-markets>
    </div>
  </div>
  <div class="row grid-margin">
    <div class="col">
      <app-loading-cards *ngIf="(isLoadingRunnerMarkets$ | async).isLoading || (isLoadingSelectedRunner$ | async).isLoading"></app-loading-cards>
      <app-runner-detail-bsp *ngIf="(isLoadingRunnerMarkets$ | async).isLoadingSuccess && (isLoadingSelectedRunner$ | async).isLoadingSuccess"
                             [runnerMarkets]="runnerMarkets$ | async"
                             [runnerId]="runnerId">

      </app-runner-detail-bsp>
    </div>
  </div>
  <div class="row grid-margin">
    <div class="col">
      <app-loading-cards *ngIf="(isLoadingRunnerMarkets$ | async).isLoading"></app-loading-cards>
      <app-runner-detail-market-stats *ngIf="(isLoadingRunnerMarkets$ | async).isLoadingSuccess"
                                      [runnerId]="runnerId"
                                      [runnerMarkets]="runnerMarkets$ | async">

      </app-runner-detail-market-stats>
    </div>
  </div>
</div>



