<!-- ODDS MOVEMENTS -->
<app-odds-movement [view]="!onlyBets" [trade]="trade">

</app-odds-movement>

<!-- AVG ODDS -->
<app-avg-odds-traded [trade]="trade">

</app-avg-odds-traded>


<button type="button" class="btn btn-xs" [disabled]="!(betsA.length && betsB.length)"
        [ngClass]="split ? 'btn-warning' : 'btn-outline-warning' "
        (click)="split= !split">
  Split
</button>

<!-- TRADE BETS-->
<app-bet-table *ngIf="!split" [bets]="bets"
               [title]="'All Bets'">
</app-bet-table>



<app-bet-table *ngIf="betsA.length && split"
               [bets]="betsA"
               [title]="'(A) ' + trade.trade.selections[0].runnerName">
</app-bet-table>
<app-bet-table *ngIf="betsB.length  && split"
               [bets]="betsB"
               [title]="'(B) ' + trade.trade.selections[1].runnerName">
</app-bet-table>


