<!-- ODDS MOVEMENTS -->
<app-odds-movement [view]="!onlyBets" [trade]="trade">

</app-odds-movement>

<!-- AVG ODDS -->
<app-avg-odds-traded [trade]="trade">

</app-avg-odds-traded>

<!-- TRADE BETS-->
<app-bet-table [bets]="bets"
               [title]="'All Bets'">
</app-bet-table>


<!--
<app-bet-table *ngIf="betsA.length"
               [bets]="betsA"
               [title]="'(A) ' + trade.trade.selections[0].runnerName">
</app-bet-table>
<app-bet-table *ngIf="betsB.length"
               [bets]="betsB"
               [title]="'(B) ' + trade.trade.selections[1].runnerName">
</app-bet-table>

-->

