<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
  <p class="text-muted text-center text-md-left">Copyright © {{date.getFullYear()}} Betfair Platform. All rights reserved</p>
  <p class="text-muted text-center center">Creator: Marco Selva</p>
  <p class="text-muted text-center center">v2.5.0</p>
  <p class="text-muted text-center center">Road to V3!</p>
  <p class="text-muted text-center center">Build #: 150</p>
  <p class="text-muted text-center center">Build date: 12-03-2022</p>
  <p class="text-muted text-center text-md-left mb-0 d-none d-md-block">Handcrafted With <i class="mb-1 text-primary ml-1 icon-small feather icon-heart"></i></p>
</footer>
