<form (input)="update()">
  <p class="text-gray">{{title}}</p>
  <div class="row">
    <div class="col">
      <div class="form-check">
        <label class="form-check-label text-primary">
          <input type="radio"
                 class="form-check-input"
                 name="optionsRadios"
                 [(ngModel)]="option"
                 [value]="true">
          <i class="input-frame"></i>
          {{options[0]}}
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <label class="form-check-label text-danger">
          <input type="radio"
                 class="form-check-input"
                 name="optionsRadios"
                 [(ngModel)]="option"
                 [value]="false">
          <i class="input-frame"></i>
          {{options[1]}}
        </label>
      </div>
    </div>
  </div>
</form>
