<h5 *ngIf="betOptions === 'OPEN'"><span class="badge badge-success">{{betOptions}}</span></h5>
<h5 *ngIf="betOptions === 'CLOSE'"><span class="badge badge-danger">{{betOptions}}</span></h5>
<h5 *ngIf="betOptions === 'INCREASE MARGIN'"><span class="badge badge-warning">{{betOptions}}</span></h5>
<h5 *ngIf="betOptions === 'DECREASE MARGIN'"><span class="badge badge-secondary">{{betOptions}}</span></h5>
<h5 *ngIf="betOptions === 'FREE BET'"><span class="badge badge-info">{{betOptions}}</span></h5>
<h5 *ngIf="betOptions === 'ADJ'"><span class="badge badge-light">{{betOptions}}</span></h5>
