<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="footballPointHome" class="text-gray">Home</label>
      <input type="number" step='1'
             class="form-control"
             id="footballPointHome"
             [(ngModel)]="footballPoint.home"
             name="footballPointHome">
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="footballPointAway" class="text-gray">Away</label>
      <input type="number" step='1'
             class="form-control"
             id="footballPointAway"
             [(ngModel)]="footballPoint.away"
             name="footballPointAway">
    </div>
  </div>
</div>
