<button [ngbTooltip]="backtestTooltip"
        type="button"
        class="btn mr-3"
        [ngClass]="($backtestMode | async)  ? 'btn-danger' : 'btn-outline-danger'"
        (click)="openVerticalCenteredModal(verticalCenteredModal)"
        (contextmenu)="backtestModeChangeRightClick($event)">
  Backtest {{($backtestMode | async)  ? 'ON' : 'off'}}
  <span *ngIf="($backtestMode | async)"
        class="badge bg-light text-dark">
            {{$backtestTradesCount | async}}
          </span>
</button>

<!-- MODAL -->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h3 class="text-danger">{{($backtestSelected| async) ? 'Update' : 'Create'}} Backtest</h3>
    <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- MAIN BACKTEST -->
    <app-backtest-editor-main [backtestTradesCount]="$backtestTradesCount | async"
                       [backtestList]="$backtestList | async"
                       [backtestTradesList]="$backtestTradesList | async"
                       [$backtestTradesList]="$backtestTradesList"
                       [$selectedBacktest]="$backtestSelected"
                       [backtestMode]="$backtestMode | async"
                       [backtestIsLoading]="$backtestIsLoading | async">
    </app-backtest-editor-main>
  </div>
  <div class="modal-footer">
    <!-- TURN ON/OFF BUTTON -->
      <div class="d-flex justify-content-end align-items-center">
        <button type="button"
                class="btn btn mr-2 "
                [ngClass]="($backtestMode | async)   ? 'btn-danger' : 'btn-outline-danger'"
                (click)="changeBacktestMode()">
          Backtest {{($backtestMode | async)  ? 'ON' : 'off'}}
        </button>

        <button type="button" class="mr-2 btn btn-primary" (click)="modal.close('end')">Close</button>

      </div>
  </div>
</ng-template>


<!-- TOOLTIP TEMPLATE -->
<ng-template #backtestTooltip>
  <h5>Backtest, right click to turn ON/OFF</h5>
</ng-template>
