<div class="card">
  <div class="card-body">
    <!-- BETS PREVIEW -->
    <app-bets-table [bets]="backtestTradeBets" [title]="'preview'"></app-bets-table>
      <!-- SELECTORS -->
    <form class="row">
      <div class="col form-group">
        <label>Bet Options</label>
        <ng-select [items]="['OPEN','INCREASE MARGIN', 'DECREASE MARGIN', 'CLOSE' ,'FREE BET', 'ADJ']"
                   id='option'
                   name='option'
                   placeholder="Bet Options"
                   [(ngModel)]="backtestForm.info.option">
        </ng-select>
      </div>
      <div class="col form-group">
        <label>Selection</label>
        <ng-select id="sport"
                   name="sport"
                   placeholder="Selection"
                   [items]="runners"
                   bindValue="name"
                   bindLabel="name"
                   [(ngModel)]="backtestForm.info.selectionName"
                   (ngModelChange)="selectionNUpdate()">
        </ng-select>
      </div>
    </form>
    <!-- STAKE BUTTON -->
    <div class="row">
      <div class="col-6">
        <app-backtest-stake [backtestForm]="backtestForm" [type]="'Back'"></app-backtest-stake>
      </div>
      <div class="col-6">
        <app-backtest-stake [backtestForm]="backtestForm" [type]="'Lay'"></app-backtest-stake>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center grid-margin">
      <button type="button"
              class="btn btn-lg btn-info mr-2"
              (click)="addBetsInTrade()"
              [swal]="{
                        position: 'top-end',
                        icon: 'success',
                        title: 'Bets update in Trade',
                        showConfirmButton: false,
                        timer: 1000
                      }"
              [disabled]="backtestForm.backtestBets.length===0">
        Confirm Bets
      </button>
    </div>
  </div>
</div>
<!-- INFO ROW -->
<div class="card mt-2 mb-2">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-warning">{{backtestForm.tradeForm.trade.info.marketInfo.marketName}}: {{backtestForm.tradeForm.trade.results.netProfit | currency}}</h3>
      <h3 [ngClass]="!checkTradeValid() ? 'text-success' : 'text-danger'">{{!checkTradeValid() ? 'Valid' : 'Invalid'}}</h3>
      <div>
        <app-trade-updates-modal [tradeInput]="backtestForm.tradeForm"
                                 (tradeUpdateEmitter)="updateBacktestTradeFromEdit($event)">

        </app-trade-updates-modal>
        <button type="button"
                class="btn bnt-lg btn-outline-success ml-2"
                [disabled]="checkTradeValid()"
                [swal]="{
                        position: 'top-end',
                        icon: 'success',
                        title: 'Trade added in Back test',
                        showConfirmButton: false,
                        timer: 1000
                      }"
                (click)="addTradeInBacktest()">
          <i class="feather icon-plus"></i>
          Add in Backtest
        </button>
      </div>
    </div>
  </div>
</div>
<!-- PREVIEW ROW -->
<h2 class="text-warning mt-2 mb-2">Trade Preview</h2>
<app-trade-detail [trade]="backtestForm.tradeForm" *ngIf="bug">
</app-trade-detail>




