<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Market Advanced List</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block">
      <i class="btn-icon-prepend" data-feather="refresh-ccw" appFeatherIcon
         (click)="refreshAdvanced()"></i>
      Refresh
    </button>
  </div>
</div>

<!-- BREADCRUMB -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">BF</a></li>
    <li class="breadcrumb-item"><a >Market Advanced</a></li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>

<!-- ROW 1-->
<div class="col-12">
  <!-- LIST COMPONENT-->
  <app-loading-cards *ngIf="($isLoadingAllMarkets | async).isLoading"></app-loading-cards>
  <div *ngIf="($isLoadingAllMarkets | async).isLoadingSuccess">

    <app-markets-advanced-datatable [markets]="$allMarkets | async">
    </app-markets-advanced-datatable>

    <app-column-chart *ngIf="($volumeStats | async)?.length"
                      [data]="$volumeStats"
                      [colors]="['red']"
                      [height]="500"
                      [labels]="labels"
                      [title]="['Volume Distribution']"
                      [isCurrency]="false"
                      [isPercent]="false">
    </app-column-chart>
  </div>


</div>


