<!-- Button trigger trade-modal -->
<button type="button" class="btn btn-outline-success" (click)="openVerticalCenteredModal(verticalCenteredModal)">
  Add new Trade <i class="feather icon-plus"></i>
</button>

<!-- Modal -->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create Trade</h5>
    <button type="button" class="close" (click)="modal.close('close')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- INFO -->
    <div class="card">
      <div class="card-header">
        <h4>Info</h4>
      </div>
      <div class="card-body">

        <div class="form-group">
          <label for="marketName" class="text-gray">Market Name</label>
          <input class="form-control"
                 id="marketName"
                 type="text"
                 placeholder="Market Name"
                 name="marketName"
                 [(ngModel)]="tradeForm.info.marketInfo.marketName">
        </div>

        <div class="form-group">
          <label for="marketId" class="text-gray">Market ID</label>
          <input class="form-control"
                 id="marketId"
                 type="text"
                 placeholder="Market ID"
                 name="marketId"
                 [(ngModel)]="tradeForm.info.marketInfo.marketId">
        </div>

        <app-date-form [time]="null"
                       (dateEmitter)="updateDateTrade($event)"
                       [showTime]="true"
                       [showDate]="true">
        </app-date-form>

        <div class="row">
          <div class="col">

            <app-list-selection-form [type]="'strategy'"
                                     (listSelectedEmitter)="setStrategy($event)">
            </app-list-selection-form>

          </div>
          <div class="col">
            <div class="form-group disabled">
              <label class="text-gray">Sport</label>
              <ng-select id="sport"
                         name="sport"
                         placeholder="Sport"
                          [items]="sport"
                         [(ngModel)]="tradeForm.info.marketInfo.sport"
                          (ngModelChange)="sportChange()">
              </ng-select>
            </div>
          </div>
          <div class="col">
            <app-list-selection-form [type]="'tennisTournament'"
                                     (listSelectedEmitter)="setTennisTournament($event)">
            </app-list-selection-form>
          </div>
        </div>
        <p class="text-danger">Importante!! Mettere sempre Strategy e Sport prima di tutte le bets e le selezioni</p>
        <div class="form-group">
          <label class="text-gray">Executor</label>
          <ng-select
            [items]="executor"
            [multiple]=true
            [closeOnSelect]="false"
            [searchable]="false"
            bindLabel="executor"
            placeholder="Select people"
            [(ngModel)]="tradeForm.info.executor">
          </ng-select>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exchange" class="text-gray">Exchange</label>
              <ng-select [items]="exchange"
                         id="exchange"
                         name="exchange"
                         bindLabel="value"
                         bindValue="value"
                         placeholder="Exchange"
                         [(ngModel)]="tradeForm.info.exchange.name"
                         (ngModelChange)="exchangeChange()">
              </ng-select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="commission" class="text-gray">Commission</label>
              <input type="number" step='0.001'
                     class="form-control"
                     id="commission"
                     [(ngModel)]="tradeForm.info.exchange.commission"
                     name="commission"
                     min="0"
                     max="1">
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- SELECTIONS -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h4>Selection</h4>
      </div>
      <div class="card-body">

        <div class="form-group">
          <div class="row grid-margin">
            <button type="button" class="btn btn-secondary" (click)="addSelection()">+ Selection</button>
          </div>
          <!-- SELECTIONS MANAGER-->
          <div *ngFor="let runner of tradeForm.selections; let i=index">
            <div class="form-group">
              <label  class="text-gray">Selection {{i+1}}: </label>
              <div class="row">
                <div class="col-10">

                  <app-runners-selection-form [runnerId]="null"
                                              (runnerSelectedEmitter)="setCurrentSelectionName($event,i)">
                  </app-runners-selection-form>

                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-danger" (click)="removeSelection(i)">X</button>
                </div>
              </div>
            </div>
            <!--BSP SELECTION-->
            <div class="row">
              <div class="col">
                <app-odd-form [title]="'BSP'"
                              [odds]="tradeForm.selections[i].bsp"
                              (oddsPointEmitter)="setBSPodds($event,i)">
                </app-odd-form>
              </div>
              <div class="col">
                <app-bets-form [isBack]="true"
                               [isUpdate]="true"
                               [stake]="0"
                               [odds]="1.01"
                               (betsFormEmitter)="setSelectionAvgOdds($event,i)">

                </app-bets-form>
              </div>
              <div class="col">
                <app-bets-form [isBack]="false"
                               [isUpdate]="true"
                               [bank]="0"
                               [odds]="1.01"
                               [liability]="0"
                               (betsFormEmitter)="setSelectionAvgOdds($event,i)">
                </app-bets-form>
              </div>
            </div>
            <!--WINNER / LOSER-->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label text-success">
                      <input type="checkbox" class="form-check-input" name="winner{{i}}" id="winner{{i}}" [(ngModel)]="tradeForm.selections[i].winner">
                      <i class="input-frame"></i>
                      Winner
                    </label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label text-danger">
                      <input type="checkbox" class="form-check-input" name="looser{{i}}" id="looser{{i}}" [(ngModel)]="!tradeForm.selections[i].winner">
                      <i class="input-frame"></i>
                      Looser
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-danger">Importante!! Ci deve sempre essere un winner, metterne uno se non c'e ancora</p>

          </div>
        </div>
      </div>
    </div>
    <!-- FINAL RESULT -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h4>Final Result</h4>
      </div>
      <div class="card-body">
        <div *ngIf="tradeForm.info.marketInfo.sport === ('TENNIS')">
          <app-tennis-point [tennisPoint]="tradeForm.result.finalScore.tennis"
                            (tennisPointEmitter)="updateFinalResultTennis($event)"
                            [showGame]="false">

          </app-tennis-point>
        </div>
        <div *ngIf="tradeForm.info.marketInfo.sport === ('FOOTBALL')">
          <app-football-point [footballPoint]="tradeForm.result.finalScore.football"
                              (footballPointEmitter)="updateFinalResultFootball($event)">

          </app-football-point>
        </div>

      </div>
    </div>
    <!-- CREATE BETS -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h4>Trade</h4>
      </div>
      <div class="card-body">
        <h6 class="text-gray">Create new Trade</h6>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label text-primary">
                  <input type="checkbox"
                         class="form-check-input"
                         name="back"
                         id="back"
                         [(ngModel)]="supportBets.isBack">
                  <i class="input-frame"></i>
                  Back
                </label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label text-danger">
                  <input type="checkbox"
                         class="form-check-input"
                         name="lay"
                         id="lay"
                         [(ngModel)]="supportBets.isLay">
                  <i class="input-frame"></i>
                  Lay
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <app-odd-form [title]="'Odds'"
                          (oddsPointEmitter)="setBetsOdds($event)">
            </app-odd-form>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="stake" class="text-gray">Stake / Bank</label>
              <input type="number" step='0.01'
                     class="form-control"
                     id="stake"
                     [(ngModel)]="supportBets.stake"
                     name="stake"
                     min="0">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <label for="selection" class="text-gray">Selection </label>
              <ng-select id="selection"
                         name="selection"
                         placeholder="Selection"
                         [(ngModel)]="supportBets.selection">
                <ng-option
                  *ngFor="let selection of tradeForm.selections"
                  [value]="selection"
                >{{selection.runnerName}}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn-xs btn-success" (click)="addBet()">+</button>
          </div>
        </div>
        <!--BET CONDITION -->
        <div>
          <div *ngIf="supportBets.condition.horse.isHorse">
            <div class="form-group">
              <label for="horseBetNote" class="text-gray">Note</label>
              <input class="form-control"
                     id="horseBetNote"
                     type="text"
                     placeholder="Note"
                     name="horseBetNote"
                     [(ngModel)]="supportBets.condition.note">
            </div>
            <app-date-form [time]="null"
                           [showTime]="true"
                           [showDate]="true"
                           (dateEmitter)="updateDateBets($event)">

            </app-date-form>
          </div>
          <div *ngIf="supportBets.condition.football.isFootball">
            <div class="form-group">
              <label for="footballBetNote" class="text-gray">Note</label>
              <input class="form-control"
                     id="footballBetNote"
                     type="text"
                     placeholder="Note"
                     name="footballBetNote"
                     [(ngModel)]="supportBets.condition.note">
            </div>
            <app-date-form [time]="null"
                           [showTime]="true"
                           [showDate]="true"
                           (dateEmitter)="updateDateBets($event)">
            </app-date-form>
            <app-football-point [footballPoint]="supportBets.condition.football.point"
                                (footballPointEmitter)="updateFootballPoint($event)" >
            </app-football-point>
          </div>
          <div  *ngIf="supportBets.condition.tennis.isTennis">
            <div class="form-group">
              <label for="tennisBetNote" class="text-gray">Note</label>
              <input class="form-control"
                     id="tennisBetNote"
                     type="text"
                     placeholder="Note"
                     name="tennisBetNote"
                     [(ngModel)]="supportBets.condition.note">
            </div>
            <app-date-form [time]="null"
                           [showTime]="true"
                           [showDate]="true"
                           (dateEmitter)="updateDateBets($event)">
            </app-date-form>
            <div class="row">
              <div class="col">
                <app-tennis-point [tennisPoint]="supportBets.condition.tennis.point"
                                  (tennisPointEmitter)="updateTennisPoint($event)"
                                  [showGame]="true">

                </app-tennis-point>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- EXPOSITION ON SELECTIONS -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h4>Exposition</h4>
      </div>
      <div class="card-body">

        <div class="form-group">
          <!-- EXPOSITION DISPLAY-->
          <div *ngFor="let exposition of tradeForm.exposition; index as i">
            <ul class="list-group mt-2">
              <li class="list-group-item active">
                <h4>{{tradeForm.selections[i].runnerName}} Bets:</h4>
              </li>
              <!--BACK FOR THIS SELECTION-->
              <div *ngFor="let tradeBack of tradeForm.trades.back; index as h">
                <li *ngIf="tradeBack.selectionN ===i" class="list-group-item">
                  <div class="col">
                    <!-- BETS -->
                    <app-bets-formatter [type]="'back'"
                                        [odds]="tradeBack.odds"
                                        [stake]="tradeBack.stake"
                                        [toWin]="tradeBack.ifWin">
                    </app-bets-formatter>
                    <!-- POINT -->
                    <h5 class="text-gray mt-2 mb-2">Point: {{tradeBack.condition.tennis.point | tennisPoint}}</h5>
                    <!-- TIME -->
                    <app-date-form [time]="tradeBack.condition.time"
                                   [showDate]="true"
                                   [showTime]="true"
                                   (dateEmitter)="updateBetsDate($event,tradeBack)">
                    </app-date-form>
                    <!-- NOTE -->
                    <div class="form-group">
                      <label class="text-gray">Note</label>
                      <input class="form-control"
                             type="text"
                             placeholder="Note"
                             name="tradeNote"
                             [(ngModel)]="tradeBack.condition.note">
                    </div>
                    <!-- DELETE -->
                    <button type="button" class="btn-xs btn-danger" (click)="removeBets(h,'back')">
                      <i class="feather icon-x"></i>
                    </button>
                  </div>
                </li>
              </div>
            </ul>
            <ul class="list-group">
              <!--LAY FOR THIS SELECTION-->
              <div *ngFor="let tradeLay of tradeForm.trades.lay; index as h">
                <li *ngIf="tradeLay.selectionN ===i" class="list-group-item">
                  <div class="col">
                    <!-- BETS -->
                    <app-bets-formatter [type]="'lay'"
                                        [odds]="tradeLay.odds"
                                        [bank]="tradeLay.bank"
                                        [liability]="tradeLay.liability">
                    </app-bets-formatter>
                    <!-- POINT -->
                    <h5 class="text-gray mt-2 mb-2">Point: {{tradeLay.condition.tennis.point | tennisPoint}}</h5>
                    <!-- TIME -->
                    <app-date-form [time]="tradeLay.condition.time"
                                   [showDate]="true"
                                   [showTime]="true"
                                   (dateEmitter)="updateBetsDate($event,tradeLay)">
                    </app-date-form>
                    <!-- NOTE -->
                    <div class="form-group">
                      <label class="text-gray">Note</label>
                      <input class="form-control"
                             type="text"
                             placeholder="Note"
                             name="tradeNote"
                             [(ngModel)]="tradeLay.condition.note">
                    </div>
                    <!-- DELETE -->
                    <button type="button" class="btn-xs btn-danger" (click)="removeBets(h,'lay')">
                      <i class="feather icon-x"></i>
                    </button>
                  </div>
                </li>
              </div>
              <li class="list-group-item disabled">
                <div class="row">
                  <div class="col">
                    <h6 class="text-primary">Back Side:</h6>
                    <h5 [ngClass]="tradeForm.exposition[i].back>0? 'text-success' : 'text-danger' ">{{tradeForm.exposition[i].back | currency}}</h5>
                  </div>
                  <div class="col">
                    <h6 class="text-danger">Lay Side:</h6>
                    <h5 [ngClass]="tradeForm.exposition[i].lay>0? 'text-success' : 'text-danger'">{{tradeForm.exposition[i].lay | currency}}</h5>
                  </div>
                </div>
              </li>
            </ul>
          </div>


        </div>

      </div>
    </div>
    <!-- RESULT ON SELECTIONS -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h4>Result</h4>
      </div>
      <div class="card-body">
        <div class="col mb-2">
          <div class="row grid-margin">
            <div class="col">
              <h4>Gross:</h4>
              <h5 [ngClass]="tradeForm.result.grossProfit>0? 'text-success'  : 'text-danger' ">{{tradeForm.result.grossProfit | currency}}</h5>
            </div>
            <div class="col">
              <h4>Net:</h4>
              <h4 [ngClass]="tradeForm.result.netProfit>0? 'text-success'  : 'text-danger' ">{{tradeForm.result.netProfit | currency}}</h4>
            </div>
            <div class="col">
              <label for="correctionPl">Correction PL</label>
              <input type="number"
                     class="form-control"
                     id="correctionPl"
                     [(ngModel)]="tradeForm.result.correctionPl"
                     name="correctionPl"
                     step="0.01"
                     (ngModelChange)="updateExpositionAndPl()">
            </div>
          </div>
          <div class="row grid-margin">
            <div class="col">
              <div class="form-group">
                <label class="text-danger" for="maxRisk">Max Risk</label>
                <input type="number"
                       class="form-control"
                       id="maxRisk"
                       name="maxRisk"
                       step="0.01"
                       [(ngModel)]="tradeForm.result.maxRisk"
                       (ngModelChange)="calculatePl()">
              </div>
            </div>
            <div class="col">
              <h4 class="text-info">Risk/Reward: {{tradeForm.result.rr | percent:'0.2'}}</h4>
            </div>
          </div>
          <div class="row grid-margin">
            <div class="col">
              <h4 class="text-warning">Commission Paid: {{tradeForm.result.commissionPaid| currency}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-warning" (click)="calculatePl()">
          Calculate Pl
        </button>
      </div>
    </div>
    <!-- NOTE -->
    <div class="row">
      <div class="col">
        <div class="card mt-2 mb-2">
          <div class="card-header">
            <h4>Note</h4>
          </div>
          <div class="card-body">

            <div class="form-group">
              <label for="description" class="text-gray">Description Note</label>
              <textarea class="form-control" id="description" rows="5"  placeholder="Description Note" name="description"
                        [(ngModel)]="tradeForm.info.note.description"></textarea>
            </div>
            <div class="form-group">
              <label for="entry" class="text-gray">Entry Note</label>
              <textarea class="form-control" id="entry" rows="5"  placeholder="Entry Note" name="entry"
                        [(ngModel)]="tradeForm.info.note.entry"></textarea>
            </div>
            <div class="form-group">
              <label for="position" class="text-gray">Position</label>
              <textarea class="form-control" id="position" rows="5"  placeholder="Position Note" name="position"
                        [(ngModel)]="tradeForm.info.note.position"></textarea>
            </div>
            <div class="form-group">
              <label for="exit" class="text-gray">Exit Note</label>
              <textarea class="form-control" id="exit" rows="5"  placeholder="Exit Note" name="exit"
                        [(ngModel)]="tradeForm.info.note.exit"></textarea>
            </div>
            <div class="form-group">
              <label for="mm" class="text-gray">MM Note</label>
              <textarea class="form-control" id="mm" rows="5"  placeholder="MM Note" name="mm"
                        [(ngModel)]="tradeForm.info.note.mm"></textarea>
            </div>
            <div class="form-group">
              <label for="odds" class="text-gray">Odds Note</label>
              <textarea class="form-control" id="odds" rows="5"  placeholder="Odds Note" name="odds"
                        [(ngModel)]="tradeForm.info.note.odds"></textarea>
            </div>
            <div class="form-group">
              <label for="post" class="text-gray">Post Note</label>
              <textarea class="form-control" id="post" rows="5"  placeholder="Post Note" name="post"
                        [(ngModel)]="tradeForm.info.note.post"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('create')">Create</button>
  </div>
</ng-template>
