<div class="table table-responsive montecarloWinTable">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>N</th>
      <th >Win</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Total
      </td>
      <td *ngFor="let w of win, index as j">
        <h5>{{w | montecarlo}} - ({{((w | montecarlo) /1000) | percent:'0.2'}})</h5>
      </td>
    </tr>
    <div *ngFor="let w of win, index as i">
      <div>

      </div>
    </div>


    <tr *ngFor="let w of win, index as i" style="height: 25px">
      <td>
        <h4>{{i+1}}</h4>
      </td>
      <td *ngFor="let j of w" [ngClass]="j ? 'table-success' : 'table-danger' ">
      </td>
    </tr>
    </tbody>
  </table>
</div>
