<!-- CARD 1-->
<div class="card">
  <!-- HEADER -->
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-baseline">
      <h6 class="card-title mb-0">Runners</h6>
    </div>
  </div><!-- /HEADER -->
  <div class="card-body"><!-- BODY -->




    <div class="d-flex justify-content-end align-items-baseline">
      <form class="forms-sample grid-margin" #searchForm="ngForm">
        <div class="row">
          <input
            class="form-control"
            type="text"
            placeholder="Type name..."
            (keyup)="updateFilter($event)"
          />
        </div>
      </form>
    </div>


    <ngx-datatable
      class="dark"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="40"
      [footerHeight]="50"
      [limit]="10"
      rowHeight="auto"
      [reorderable]="true"
      [sorts]="[{prop: 'name', dir: 'asc'}]">
      >

      <ngx-datatable-column name="Name" prop="name" [width]="400">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h4>{{ value }}</h4>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Sport"  prop="sport">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div>
            <app-sport-text [sport]="value"></app-sport-text>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Open" prop="id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button type="button" routerLink='/runners/detail/{{value}}'  class="btn btn-primary btn-icon">
            <i class="feather icon-external-link"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>


  </div><!-- /BODY -->
</div>
