<div class="d-flex justify-content-around align-items-baseline">

  <app-trade-create-modal class="mr-2"
                          (addTradeEmitter)="createModal($event)">

  </app-trade-create-modal>

  <!--

<button type="button" class="btn btn-outline-info btn-icon-text mr-2 d-none d-md-block" (click)="table.rowDetail.expandAllRows()">
  <i class="btn-icon-prepend" data-feather="chevrons-down" appFeatherIcon></i>
  Expand All
</button>
<button type="button" class="btn btn-outline-light btn-icon-text mr-2 d-none d-md-block" (click)="table.rowDetail.collapseAllRows()">
  <i class="btn-icon-prepend" data-feather="chevrons-up" appFeatherIcon></i>
  Close All
</button>



<button type="button"
        [ngClass]="noteOnly ? 'btn-warning' : 'btn-outline-warning'"
        class="btn mr-2 d-none d-md-block"
        (click)="noteOnlyChange()">
  Note Only
</button>

<button type="button"
        [ngClass]="tradeOnly ? 'btn-primary' : 'btn-outline-primary'"
        class="btn mr-2 d-none d-md-block"
        (click)="tradeOnlyChange()">
  Trade Only
</button>
-->

  <form class="forms-sample grid-margin">
    <div class="row">
      <input
        class="form-control"
        type="text"
        placeholder="Type note filter..."
        (keyup)="updateNoteFilter($event)"
      />
    </div>
  </form>



  <form class="forms-sample grid-margin">
    <div class="row">
      <input
        class="form-control"
        type="text"
        placeholder="Type name..."
        (keyup)="updateFilter($event)"
      />
    </div>
  </form>

</div>


<ngx-datatable
  class="dark expandable"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [columns]="columns"
  [columnMode]="ColumnMode.force"
  [rowHeight]="'auto'"
  [headerHeight]="40"
  [footerHeight]="50"
  [limit]="10"
  rowHeight="auto"
  [reorderable]="true"
  [offset]="pageNumber"
  (page)="emitPage($event)"
  [selected]="selected"
  [selectionType]="SelectionType.multiClick"
  (select)="onSelect($event)"
  [sorts]="[{prop: 'trade.trade.info.date', dir: 'desc'}]">

  <!-- Row Detail Template -->
  <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <app-trade-row-detail [tradeDetail]="row"></app-trade-row-detail>
    </ng-template>
  </ngx-datatable-row-detail>

  <!-- Column Templates -->
  <!--
  <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="true"
  >
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a
        href="javascript:void(0)"
        [class.datatable-icon-right]="!expanded"
        [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Row"
        (click)="toggleExpandRow(row)"
      >
      </a>
    </ng-template>
  </ngx-datatable-column>
  -->



  <ngx-datatable-column name="Date" prop="trade.trade.info.date" [width]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <p class="pointer"
         (click)="toggleExpandRow(row)">
      {{ row.trade.trade.info.date | date:'mediumDate'}}
    </p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name" prop="trade.trade.info.marketInfo.marketName"  [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <p>{{ value }}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Strategy" prop="trade.trade.info.strategyId"  [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <p>{{getStrategyName(value) | async}}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Exchange" prop="trade.trade.info.exchange.name"  [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div *ngIf="value==='UK KEVIN'"><h4><span class="badge badge-danger">UK</span></h4></div>
      <div *ngIf="value==='ITA WILLO'"><h4><span class="badge badge-warning">OLD W-ITA</span></h4></div>
      <div *ngIf="value==='ITA KITO'"><h4><span class="badge badge-primary">KITO</span></h4></div>
      <div *ngIf="value==='ITA PIDO'"><h4><span class="badge badge-info">OLD P-ITA</span></h4></div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="PL" prop="trade.trade.result.netProfit"  [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 [ngClass]="value>0? 'text-success' : 'text-danger'">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>


  <!--

  <ngx-datatable-column *ngIf="!noteOnly && !tradeOnly" name="DD" prop="data.dd">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-danger" *ngIf="value<0">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="!noteOnly && !tradeOnly" name="DD % " prop="data.ddPercent">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-danger" *ngIf="value<0">{{ value | percent: '.0-2' }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="!noteOnly && !tradeOnly" name="Max Risk" prop="trade.trade.result.maxRisk">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-warning"> {{value | currency}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="!noteOnly && !tradeOnly" name="rR" prop="trade.trade.result.rr">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-info">{{ value | percent: '.2' }}</h5>
    </ng-template>
  </ngx-datatable-column>
  -->

  <ngx-datatable-column *ngIf="!noteOnly && !tradeOnly" name="Stock" prop="data.stockPl"  [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 [ngClass]="value>0? 'text-success' : 'text-danger'">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Tolls" prop="" [width]="2">
    <ng-template let-value="value"  ngx-datatable-cell-template>
      <app-trade-tools-actions [trade]="value.trade"></app-trade-tools-actions>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<div class="row mt-2 mb-2" *ngIf="selected.length">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>#: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{selected.length}}</h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>Total: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{getTotal(selected) | currency}}</h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>Risk: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{getRisk(selected) | currency}}</h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>Avg r/R: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{getRR(selected) | percent:'0.2'}}</h5>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-3">
    <button type="button"
            class="btn btn-outline-danger"
            (click)="unselectAll()">
      Unselect All
    </button>
  </div>
</div>


