<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Odds Chart</h3>
      <!-- BUTTONS -->
      <button type="button"
              class="btn btn-lg btn-secondary btn-icon-text mr-2"
              (click)="fitClick()">
        <i class="feather icon-maximize btn-icon-prepend"></i>
        Fit
      </button>
      <button type="button"
              class="btn bnt-lg"
              [ngClass]="showTrades ? 'btn-primary' : 'btn-outline-primary'"
              (click)="showTradeMarkers(true)">
        Show Trades
      </button>
      <form>
        <div class="form-group">
          <!-- OPTIONS -->
          <label for="tableSize">Time Correction</label>
          <ng-select id="tableSize"
                     name="options"
                     [(ngModel)]="timeCorrect"
                     [items]="['-1d','-1d-1h','-1d+1h','-4h','-3h','-2h','-1h','0h','+1h','+2h','+3h','+4h','+1d','+1d-1h','+1d+1h']"
                     [clearable]="false"
                     (change)="createTVData(true)">
          </ng-select>
        </div>
      </form>
    </div>
  </div>
  <!-- BODY -->
  <div class="card-body" id="TvContainer">
    <!-- RUNNERS LEGEND -->
    <div class=" mb-3 d-flex justify-content-around align-items-center">
      <div class="col">
        <h5>{{legend.time | date:'longTime'}}</h5>
        <h4 [ngClass]="legend.time - legend.openTime <0 ? 'text-warning' : ''">
          {{legend.time - legend.openTime <0 ? '-' : ''}}({{(legend.time - legend.openTime) | secAndMinute}})
        </h4>
      </div>
      <div class="d-flex justify-content-start align-items-center">
        <button *ngFor="let run of runnersData, index as i"
                type="button"
                class="btn btn-lg mr-2"
                [ngClass]="[run.visible == true ? 'btn btn-dark mr-2' : 'btn btn-outline-dark mr-2']" [style.color]="run.color"
                (click)="changeRunnerState(run.runnerId)">
          ({{i===0 ? 'A ': 'B '}}) {{run.name}} [{{legend.value[i]}}]
          <i *ngIf="originalMarket.marketRunners.marketRunners[i].status.indexOf('WINNER')!==-1" class=" text-success feather icon-check"></i>
        </button>
      </div>
    </div>

    <!-- CHARTS -->
    <div class="align-content-center" id="TVCharts" style="width: 100%; height: 100%"></div>

  </div>
  <!-- BACKTEST BUTTONS -->
  <div class="card-footer" *ngIf="($backtestMode | async)">
    <div class="d-flex justify-content-end align-items-center" *ngIf="($backtestMode | async)">
      <button type="button"
              class="btn mr-2"
              [ngClass]="removeState ? 'btn-warning' : 'btn-outline-warning'"
              (click)="removeState = !removeState">
        Remove Bet
      </button>
      <button type="button"
              class="btn btn-outline-danger mr-2"
              (click)="removeAllBets()">
        Remove All Bets
      </button>
    </div>
  </div>
</div>

<!-- BACKTEST MAIN CARD -->
<div class="card mt-2 ">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-warning">Backtest</h3>
    </div>
  </div>
  <div class="card-body">
    <app-backtest-trade-main [originalMarket]="originalMarket"
                       [backtestForm]="backtestForm"
                       [originalTrade]="originalTrade"
                       [backtestTradeBets]="backtestTradeBets">
    </app-backtest-trade-main>
  </div>
</div>

