<!-- SELECTED STATS-->
<div class="col" *ngIf="!isBackTest">
  <app-trade-datatable-stats [selected]="selected"
                             [totalSize]=" rows.length">
  </app-trade-datatable-stats>
</div>
<!-- SELECTED BUTTON-->
<div class="d-flex justify-content-center align-items-center" *ngIf="!isBackTest">
  <button type="button"
          class="btn btn-outline-primary mr-3"
          (click)="selectAll()">
    Select All
  </button>
  <button type="button"
          [disabled]="selected.length===0"
          class="btn btn-outline-danger mr-4"
          (click)="unselectAll()">
    Unselect All
  </button>
  <button type="button"
          class="btn mr-3"
          [ngClass]="viewSelectedReport ? 'btn-info' : 'btn-outline-info'"
          (click)="generateReport()"
          [disabled]="selected.length===0">
    Generate Report
  </button>
  <div *ngIf="!isBackTest">
    <app-strategy-report-save-modal *ngIf="selected.length>0"
                                    class="mr-4 ml-4"
                                    [selected]="selected"
                                    [title]="title"
                                    (saveReportEmitter)="saveSavedReport($event)">
    </app-strategy-report-save-modal>
    <app-strategy-report-add-trades-to-saved *ngIf="selected.length>0"
                                             class="mr-4"
                                             [selected]="selected"
                                             [title]="title"
                                             (updateSavedReportEmitter)="updateSavedReport($event)">
    </app-strategy-report-add-trades-to-saved>
    <app-delete-modal [type]="'Trade'"
                      [ids]="selectedIds"
                      [id]="savedReportId"
                      [name]="' many '"
                      [options]="'Delete'"
                      (deleteEmitter)="deleteMany($event)"
                      *ngIf="!isSaved && selected.length">
    </app-delete-modal>
    <app-delete-modal [type]="savedReport.savedReport.name"
                      [ids]="selectedIds"
                      [id]="savedReportId"
                      [name]="' many trades from '"
                      [options]="'Remove'"
                      (deleteEmitter)="removeTradesFromSavedReportModal($event)"
                      [isRemove]="true"
                      *ngIf="isSaved && selected.length">
    </app-delete-modal>
  </div>
</div>


<!-- DATATABLE BUTTON -->
<div class="d-flex justify-content-end align-items-center">
  <div *ngIf="!isBackTest">
    <button type="button" class="btn mr-2"
            [ngClass]="!viewResult ? 'btn-secondary' : 'btn-outline-secondary' "
            (click)="viewResult= !viewResult">
      View Result
    </button>
    <button type="button" class="btn mr-2"
            [ngClass]="viewTrades ? 'btn-warning' : 'btn-outline-warning' "
            (click)="viewTrades= !viewTrades">
      View Trades
    </button>
    <button type="button" class="btn mr-2"
            [ngClass]="viewOdds ? 'btn-info' : 'btn-outline-info' "
            (click)="viewOdds= !viewOdds">
      View Avg Odds
    </button>
    <button type="button" class="btn mr-2"
            [ngClass]="viewSetOdds ? 'btn-danger' : 'btn-outline-danger' "
            (click)="viewSetOdds= !viewSetOdds">
      View Set Odds
    </button>
    <button type="button" class="btn mr-2"
            [ngClass]="viewNotes ? 'btn-light' : 'btn-outline-light' "
            (click)="viewNotes= !viewNotes">
      View Notes
    </button>
    <button type="button" class="btn mr-2"
            [ngClass]="viewStatsService ? 'btn-primary' : 'btn-outline-primary' "
            (click)="viewStatsService= !viewStatsService">
      Stats Service & Break
    </button>
    <button type="button" class="btn mr-2"
            [ngClass]="viewStatsSet ? 'btn-primary' : 'btn-outline-primary' "
            (click)="viewStatsSet= !viewStatsSet">
      Stats Set
    </button>
    <button type="button" class="btn mr-3"
            [ngClass]="viewStatsLeaderboard ? 'btn-primary' : 'btn-outline-primary' "
            (click)="viewStatsLeaderboard= !viewStatsLeaderboard">
      Stats Leaderboard
    </button>
  </div>
  <form class="form-group grid-margin">
    <div class="row ">
      <div class="col">
        <div class="form-group">
          <label for="name">Find by Name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            placeholder="Type name..."
            [(ngModel)]="search"
            name="search"
            (ngModelChange)="updateFilter()"/>
        </div>
      </div>
      <div class="col">
        <div class="form-control-lg">
          <!-- OPTIONS -->
          <label for="tableSize">Table size</label>
          <ng-select id="tableSize"
                     name="options"
                     [(ngModel)]="tableSize"
                     [items]="[5, 10,15,20,25,30,40,50,100,200,250,500,1000]"
                     [clearable]="false">
          </ng-select>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- CSV BUTTON -->
<div class="d-flex justify-content-end align-items-center mb-3" *ngIf="!isBackTest">
  <button type="button" class="btn btn-outline-light btn-icon-text mr-2" (click)="saveAsCSV('ALL')">
    <i class="btn-icon-prepend" data-feather="download" appFeatherIcon></i>
    Download CSV
  </button>
  <button type="button" class="btn btn-outline-light btn-icon-text mr-2" (click)="saveAsCSV('GROUPED')">
    <i class="btn-icon-prepend" data-feather="download" appFeatherIcon></i>
    Download Grouped Type CSV
  </button>

  <button type="button" class="btn btn-outline-light btn-icon-text mr-2" (click)="saveAsCSV('BFL')">
    <i class="btn-icon-prepend" data-feather="download" appFeatherIcon></i>
    Download Grouped BFL CSV
  </button>
</div>

<!-- DATA TABLE -->
<ngx-datatable
  class="dark"
  [rows]="rows"
  [columnMode]="ColumnMode.force"
  [rowHeight]="'auto'"
  [headerHeight]="40"
  [footerHeight]="50"
  [limit]="tableSize"
  [scrollbarH]="true"
  [selected]="selected"
  [selectionType]="SelectionType.multiClick"
  (select)="onSelect($event)"
  [sorts]="[{prop: 'trade.trade.info.date', dir: 'desc'}]">

  <ngx-datatable-column name="Date" prop="trade.trade.info.date" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{ value | date:'shortDate'}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name" prop="trade.trade.info.marketInfo.marketName">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{ value }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Result" prop="trade.trade.results.finalScore.tennis" [width]="1" *ngIf="!viewNotes &&!viewResult">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{ value | tennisPoint }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="PL" prop="trade.trade.results.netProfit" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 [ngClass]="value>0? 'text-success' : 'text-danger'">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Stock" prop="data.stockPl" *ngIf="!isBackTest && !viewNotes && !viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 [ngClass]="value>0? 'text-success' : 'text-danger'">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Risk" prop="trade.trade.results.maxRisk" [width]="1" *ngIf="!isBackTest">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-warning">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A BSP" prop="bsp.runnerA" [width]="1" *ngIf="!isBackTest">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <app-bsp-odd [bspOdd]="value"></app-bsp-odd>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B BSP" prop="bsp.runnerB" [width]="1" *ngIf="!isBackTest">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <app-bsp-odd [bspOdd]="value"></app-bsp-odd>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Notes" prop="trade.trade.info.note" [width]="950" *ngIf="viewNotes && !isBackTest">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <p>{{ value.description }}</p>
      <p>{{ value.entry }}</p>
      <p>{{ value.exit }}</p>
      <p>{{ value.position }}</p>
      <p>{{ value.mm }}</p>
      <p>{{ value.odds }}</p>
      <p>{{ value.post }}</p>
    </ng-template>
  </ngx-datatable-column>

  <!-- STATS -->
  <ngx-datatable-column name="A Set 2 Odds" prop="setOdds.set2.runnerA" *ngIf=" !viewNotes && (viewSetOdds  && (!viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)))" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Set 2 Odds" prop="setOdds.set2.runnerB" *ngIf="!viewNotes && (viewSetOdds  && (!viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)))" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Set 3 Odds" prop="setOdds.set3.runnerA" *ngIf="!viewNotes && (viewSetOdds  && (!viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)))" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Set 3 Odds" prop="setOdds.set3.runnerB" *ngIf="!viewNotes && (viewSetOdds  && (!viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)))" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Back" prop="avgBets.back.runnerA" *ngIf="!viewNotes && (viewOdds  && (!viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)))" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-primary" *ngIf="value>1.01">{{ value | number:'1.0-2'}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Lay" prop="avgBets.lay.runnerA" *ngIf="!viewNotes && (viewOdds  && (!viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)))" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-danger" *ngIf="value>1.01">{{ value| number:'1.0-2'}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Back" prop="avgBets.back.runnerB" *ngIf="!viewNotes && (viewOdds  && (!viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)))" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-primary" *ngIf="value>1.01">{{ value| number:'1.0-2'}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Lay" prop="avgBets.lay.runnerB" *ngIf="!viewNotes && (viewOdds  && (!viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)))" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-danger" *ngIf="value>1.01">{{ value| number:'1.0-2'}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="rR" prop="trade.trade.results.rr" *ngIf="!viewNotes && !viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-info">{{ value | percent: '.2' }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Trades #" prop="trade.trade.trades.length" *ngIf="!isBackTest && !viewNotes && !viewTrades && !(viewStatsLeaderboard || viewStatsSet || viewStatsService)" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{ value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Service Hold %" prop="trade.trade.statistic.runnerA.stats1" *ngIf="!viewNotes && viewStatsService" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Service Hold %" prop="trade.trade.statistic.runnerB.stats1" *ngIf="!viewNotes && viewStatsService" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Return Games W%" prop="trade.trade.statistic.runnerA.stats2" *ngIf="!viewNotes && viewStatsService" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Return Games W%" prop="trade.trade.statistic.runnerB.stats2" *ngIf="!viewNotes && viewStatsService" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Break Back %" prop="trade.trade.statistic.runnerA.stats3" *ngIf="!viewNotes && viewStatsService" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Break Back %" prop="trade.trade.statistic.runnerB.stats3" *ngIf="!viewNotes && viewStatsService" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Win S1, wins in 2 %" prop="trade.trade.statistic.runnerA.stats4" *ngIf="!viewNotes && viewStatsSet" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Win S1, wins in 2 %" prop="trade.trade.statistic.runnerB.stats4" *ngIf="!viewNotes && viewStatsSet" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Lost set 1, won set 2 %" prop="trade.trade.statistic.runnerA.stats5" *ngIf="!viewNotes && viewStatsSet" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Lost set 1, won set 2 %" prop="trade.trade.statistic.runnerB.stats5" *ngIf="!viewNotes && viewStatsSet" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Set & Break win %" prop="trade.trade.statistic.runnerA.stats6" *ngIf="!viewNotes && viewStatsSet" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Set & Break win 2 %" prop="trade.trade.statistic.runnerB.stats6" *ngIf="!viewNotes && viewStatsSet" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Current rank" prop="trade.trade.statistic.runnerA.stats7" *ngIf="!viewNotes && viewStatsLeaderboard" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Current rank" prop="trade.trade.statistic.runnerB.stats7" *ngIf="!viewNotes && viewStatsLeaderboard" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Highest Carrer rank" prop="trade.trade.statistic.runnerA.stats8" *ngIf="!viewNotes && viewStatsLeaderboard" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Highest Carrer rank" prop="trade.trade.statistic.runnerB.stats8" *ngIf="!viewNotes && viewStatsLeaderboard" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A TP Surface rank" prop="trade.trade.statistic.runnerA.stats9" *ngIf="!viewNotes && viewStatsLeaderboard" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B TP Surface rank" prop="trade.trade.statistic.runnerB.stats9" *ngIf="!viewNotes && viewStatsLeaderboard" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Trades" prop="trade" *ngIf="!viewNotes && viewTrades" [width]="1000">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <app-trade-bets-detail [onlyBets]="false" [trade]="value">
      </app-trade-bets-detail>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="View" prop="" *ngIf="!isSaved && !isBackTest">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <app-trade-tools-actions [trade]="value.trade">

      </app-trade-tools-actions>
    </ng-template>
  </ngx-datatable-column>

  <!-- BACKTEST BUTTON-->
  <ngx-datatable-column name="View" prop="" *ngIf="isBackTest">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div class="d-flex justify-content-end align-items-baseline">
        <app-trade-and-market-details-modal [trade]="value.trade"
                                            [isBacktest]="isBackTest">
        </app-trade-and-market-details-modal>

        <button *ngIf="isBackTestToAddRemoved"
                type="button"
                class="btn btn-outline-success mr-3"
                (click)="reAddTradesFromBacktest(value.trade)">
          <i class="feather icon-plus"></i>
          Re Add
        </button>

        <app-delete-modal *ngIf="isBackTestToAdd && !isBackTestToAddRemoved"
                          [ids]="[value.trade._id]"
                          [options]="'Remove'"
                          [isRemove]="true"
                          [type]="value.trade.trade.info.marketInfo.marketName"
                          (deleteEmitter)="removeTradesFromTradesToAdd($event)">
        </app-delete-modal>

        <app-delete-modal *ngIf="!isBackTestToAdd"
                          [ids]="[value.trade._id]"
                          [options]="'Remove'"
                          [isRemove]="true"
                          [type]="value.trade.trade.info.marketInfo.marketName"
                          (deleteEmitter)="removeTradesFromBacktest($event)">
        </app-delete-modal>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <!-- SAVED BUTTON-->
  <ngx-datatable-column name="View" prop="" *ngIf="isSaved && !isBackTest">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div class="d-flex justify-content-end align-items-baseline">
        <app-trade-and-market-details-modal [trade]="value.trade">
        </app-trade-and-market-details-modal>

        <app-delete-modal [ids]="[value.trade._id]"
                          [id]="savedReportId"
                          [options]="'Remove'"
                          [isRemove]="true"
                          [type]="value.trade.trade.info.marketInfo.marketName"
                          (deleteEmitter)="removeTradesFromSavedReportModal($event)"
                          *ngIf="isSaved">
        </app-delete-modal>
      </div>
    </ng-template>
  </ngx-datatable-column>


</ngx-datatable>

<!-- SELECTED REPORT-->
<div *ngIf="viewSelectedReport && bug" class="mt-2">
  <app-strategy-report [selectedStrategyTrades$]="selectedTrades"
                       [title]="'Selected'"
                       [bank]="100000"
                       [savedReport]="savedReport"
                       [isSaved]="false">
  </app-strategy-report>
</div>
