<div class="d-flex justify-content-end align-items-center">
  <button type="button" class="btn btn mr-2"
          [ngClass]="viewTrades ? 'btn-secondary' : 'btn-outline-secondary' "
          (click)="viewTrades= !viewTrades">
    View Trades
  </button>
  <button type="button" class="btn btn mr-2"
          [ngClass]="viewStats ? 'btn-primary' : 'btn-outline-primary' "
          (click)="viewStats= !viewStats">
    View Stats
  </button>
  <form class="form-group grid-margin">
    <div class="row ">
      <div class="col">
        <div class="form-group">
          <label for="name">Find by Name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            placeholder="Type name..."
            [(ngModel)]="search"
            name="search"
            (ngModelChange)="updateFilter()"/>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <!-- OPTIONS -->
          <label for="tableSize">Table size</label>
          <ng-select id="tableSize"
                     name="options"
                     [(ngModel)]="tableSize"
                     [items]="[5, 10,15,20,25,30,40,50,100,200,1000]"
                     [clearable]="false">
          </ng-select>
        </div>
      </div>
    </div>
    </form>
</div>

<!-- SELECTED DETAILS-->
<div class="row mt-2 mb-2" *ngIf="selected.length">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>#: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{selected.length}}</h5>
          </div>
          <div class="col">
            <h5 class="text-right text-success">{{getWinNumber(selected)}} ({{(getWinNumber(selected) / selected.length | percent )}})</h5>
          </div>
          <div class="col">
            <h5 class="text-right text-danger">{{getLossNumber(selected)}} ({{(getLossNumber(selected) / selected.length | percent )}})</h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>P/L: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{getPL(selected) | currency}}</h5>
          </div>
          <div class="col">
            <h5 class="text-right"></h5>
          </div>
          <div class="col">
            <h5 ></h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>AVG: </h5>
          </div>
          <div class="col">
            <h5 class="text-right"></h5>
          </div>
          <div class="col">
            <h5 class="text-right text-success">{{getAvgWin(selected) | currency}}</h5>
          </div>
          <div class="col">
            <h5 class="text-right text-danger">{{getAvgLoss(selected) | currency}}</h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>PF: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{getPf(selected) | number}}</h5>
          </div>
          <div class="col">
            <h5 class="text-right text-success">{{getWin(selected) | currency}}</h5>
          </div>
          <div class="col">
            <h5 class="text-right text-danger">{{getLoss(selected) | currency}}</h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>RISK: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{getRisk(selected) | currency}}</h5>
          </div>
          <div class="col">
            <h5 class="text-right">({{getAvgRisk(selected) | currency}})</h5>
          </div>
          <div class="col">
            <h5 ></h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>RR: </h5>
          </div>
          <div class="col">
            <h5 class="text-right">{{getPL(selected) / (-getRisk(selected)) | percent:'0.2'}}</h5>
          </div>
          <div class="col">
            <h5 class="text-right">({{getRR(selected) | percent:'0.2'}})</h5>
          </div>
          <div class="col">
            <h5 ></h5>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <h5>ODDS:</h5>
          </div>
          <div class="col">
            <h5 class="text-right text-primary">{{getAvgBack(selected)}}</h5>
          </div>
          <div class="col">
            <h5 class="text-right text-danger">{{getAvgLay(selected)}}</h5>
          </div>
          <div class="col">
            <h5 ></h5>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-3">
    <button type="button"
            class="btn btn-outline-danger"
            (click)="unselectAll()">
      Unselect All
    </button>
  </div>
</div>

<ngx-datatable
  class="dark"
  [rows]="rows"
  [columnMode]="ColumnMode.force"
  [rowHeight]="'auto'"
  [headerHeight]="40"
  [footerHeight]="50"
  [limit]="tableSize"
  [scrollbarH]="true"
  [selected]="selected"
  [selectionType]="SelectionType.multiClick"
  (select)="onSelect($event)"
  [sorts]="[{prop: 'trade.trade.info.date', dir: 'desc'}]">

  <ngx-datatable-column name="Date" prop="trade.trade.info.date" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{ value | date:'shortDate'}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name" prop="trade.trade.info.marketInfo.marketName" [width]="2">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{ value }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="PL" prop="trade.trade.results.netProfit" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 [ngClass]="value>0? 'text-success' : 'text-danger'">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Stock" prop="data.stockPl" *ngIf="!viewTrades && !viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 [ngClass]="value>0? 'text-success' : 'text-danger'">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Risk" prop="trade.trade.results.maxRisk" *ngIf="!viewTrades && !viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-warning">{{ value | currency }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="rR" prop="trade.trade.results.rr" *ngIf="!viewTrades && !viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5 class="text-info">{{ value | percent: '.2' }}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Trades #" prop="trade.trade.trades.length" *ngIf="!viewTrades && !viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{ value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Service Hold %" prop="trade.trade.statistic.runnerA.stats1" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Service Hold %" prop="trade.trade.statistic.runnerB.stats1" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Return Games W%" prop="trade.trade.statistic.runnerA.stats2" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Return Games W%" prop="trade.trade.statistic.runnerB.stats2" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Break Back %" prop="trade.trade.statistic.runnerA.stats3" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Break Back %" prop="trade.trade.statistic.runnerB.stats3" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Win S1, wins in 2 %" prop="trade.trade.statistic.runnerA.stats4" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Win S1, wins in 2 %" prop="trade.trade.statistic.runnerB.stats4" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Lost set 1, won set 2 %" prop="trade.trade.statistic.runnerA.stats5" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Lost set 1, won set 2 %" prop="trade.trade.statistic.runnerB.stats5" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Set & Break win %" prop="trade.trade.statistic.runnerA.stats6" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Set & Break win 2 %" prop="trade.trade.statistic.runnerB.stats6" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Current rank" prop="trade.trade.statistic.runnerA.stats7" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Current rank" prop="trade.trade.statistic.runnerB.stats7" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A Highest Carrer rank" prop="trade.trade.statistic.runnerA.stats8" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B Highest Carrer rank" prop="trade.trade.statistic.runnerB.stats8" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="A TP Surface rank" prop="trade.trade.statistic.runnerA.stats9" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="B TP Surface rank" prop="trade.trade.statistic.runnerB.stats9" *ngIf="viewStats" [width]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <h5>{{value}}</h5>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Trades" prop="trade" *ngIf="viewTrades" [width]="900">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <app-trade-bets-view [trade]="value"></app-trade-bets-view>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="View" prop="">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <app-trade-tools-actions [trade]="value.trade">

      </app-trade-tools-actions>
    </ng-template>
  </ngx-datatable-column>


</ngx-datatable>
