<button type="button"
        [ngClass]="isRemove ? 'btn btn-outline-warning btn-xs mr-2' : 'btn btn-outline-danger btn-xs mr-2'"
        (click)="openVerticalCenteredModal(verticalCenteredModal)">
  <i class="feather icon-x">
  </i>
  <div *ngIf="ids && !isRemove">Delete Many</div>
  <div *ngIf="ids && isRemove">Remove</div>
</button>

<!-- Modal -->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{options}}</h5>
    <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p class="text-center">Are you sure to {{options}} {{name}} {{type}}?</p>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
    <button type="button" [ngClass]="isRemove ? 'btn btn-warning' :'btn btn-danger' " (click)="modal.close('delete')">{{options}}</button>
  </div>
</ng-template>
