<div class="row grid-margin">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-baseline">
          <h6 class="card-title mb-0">Info</h6>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h6>Market: </h6>
              </div>
              <div class="col">
                <h6>{{trade.trade.info.marketInfo.marketName}}</h6>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h6>Date: </h6>
              </div>
              <div class="col">
                <h6>{{trade.trade.info.date | date:'medium'}}</h6>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h6>Exchange: </h6>
              </div>
              <div class="col">
                <div *ngIf="trade.trade.info.exchange.name==='UK KEVIN' || trade.trade.info.exchange.name==='UK KEVIN'"><h4><span class="badge badge-danger">UK</span></h4></div>
                <div *ngIf="trade.trade.info.exchange.name==='ITA WILLO'"><h4><span class="badge badge-warning">OLD W-ITA</span></h4></div>
                <div *ngIf="trade.trade.info.exchange.name==='ITA KITO' || trade.trade.info.exchange.name==='KITO'"><h4><span class="badge badge-primary">KITO</span></h4></div>
                <div *ngIf="trade.trade.info.exchange.name==='ITA PIDO'"><h4><span class="badge badge-info">OLD P-ITA</span></h4></div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h6>Commission %: </h6>
              </div>
              <div class="col">
                <h6>{{trade.trade.info.exchange.commission | percent:'0.2'}}</h6>
                <h6 *ngIf="trade.trade.results.commissionPaid>0" class="text-warning">{{trade.trade.results.commissionPaid | currency}}</h6>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h6>Executor: </h6>
              </div>
              <div class="col">
                <h6 *ngFor="let exe of trade.trade.info.executor">{{exe}}</h6>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h5>Max Risk: </h5>
              </div>
              <div class="col">
                <h5>{{trade.trade.results.maxRisk | currency}}</h5>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h5>rR: </h5>
              </div>
              <div class="col">
                <h5>{{trade.trade.results.rr | percent}}</h5>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h5>Pl:</h5>
              </div>
              <div class="col">
                <h5 [ngClass]="trade.trade.results.netProfit>0 ? 'text-success' : 'text-danger'">{{trade.trade.results.netProfit | currency}}</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-baseline">
          <h6 class="card-title mb-0">Result</h6>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h6>Final Result: </h6>
              </div>
              <div class="col">
                <h6 *ngIf="trade.trade.info.marketInfo?.sport.indexOf('TENNIS')!==-1">
                  {{trade.trade.results.finalScore.tennis | tennisPoint: true : true}}
                </h6>
                <h6 *ngIf="trade.trade.info.marketInfo?.sport.indexOf('FOOTBALL')!==-1">
                  {{trade.trade.results.finalScore.football.home + ' - ' + trade.trade.results.finalScore.football.away}}
                </h6>
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngFor="let selection of trade.trade.selections; index as i">
            <div class="row">
              <div class="col">
                <div class="row"></div>
                <h5>{{selection.runnerName}}</h5>
              </div>
              <div class="col">
                <app-bsp-odd [bspOdd]="selection.bsp" ></app-bsp-odd>
              </div>
              <div class="col-1">
                <div *ngIf="selection.winner">
                  <i data-feather="check" appFeatherIcon class="text-success"></i>
                </div>
                <div *ngIf="!selection.winner">
                  <i data-feather="x" appFeatherIcon class="text-danger"></i>
                </div>
              </div>
              <div class="col-2">
                <button type="button" routerLink="/runners/detail/{{selection.runnerId}}"  class="btn btn-primary btn-icon">
                  <i class="feather icon-external-link"></i>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row grid-margin" *ngIf="(trade.trade.info.note.description !== null && trade.trade.info.note.description !== '')
                                  || (trade.trade.info.note.entry!== null && trade.trade.info.note.entry !== '')
                                  || (trade.trade.info.note.position!== null && trade.trade.info.note.position !== '')
                                  || (trade.trade.info.note.exit!== null && trade.trade.info.note.exit !== '')
                                  || (trade.trade.info.note.mm!== null && trade.trade.info.note.mm !== '')
                                  || (trade.trade.info.note.post!== null && trade.trade.info.note.post !== '')
                                  ">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-baseline">
          <h6 class="card-title mb-0">Notes</h6>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" *ngIf="trade.trade.info.note.description !== null && trade.trade.info.note.description !== ''">
            <h6 class="text-gray">Description: </h6>
            <p>{{trade.trade.info.note.description}}</p>
          </li>
          <li class="list-group-item" *ngIf="trade.trade.info.note.entry!== null && trade.trade.info.note.entry !== ''">
            <h6 class="text-gray">Entry: </h6>
            <p>{{trade.trade.info.note.entry}}</p>
          </li>
          <li class="list-group-item" *ngIf="trade.trade.info.note.position!== null && trade.trade.info.note.position !== ''">
            <h6 class="text-gray">Position: </h6>
            <p>{{trade.trade.info.note.position}}</p>
          </li>
          <li class="list-group-item" *ngIf="trade.trade.info.note.exit!== null && trade.trade.info.note.exit !== ''">
            <h6 class="text-gray">Exit: </h6>
            <p>{{trade.trade.info.note.exit}}</p>
          </li>
          <li class="list-group-item" *ngIf="trade.trade.info.note.mm!== null && trade.trade.info.note.mm !== ''">
            <h6 class="text-gray">MM: </h6>
            <p>{{trade.trade.info.note.mm}}</p>
          </li>
          <li class="list-group-item" *ngIf="trade.trade.info.note.post!== null && trade.trade.info.note.post !== ''">
            <h6 class="text-gray">Post: </h6>
            <p>{{trade.trade.info.note.post}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row grid-margin" *ngIf="
      trade.trade.stats[0].stats1>0
      || trade.trade.stats[0].stats2>0
      || trade.trade.stats[0].stats3>0
      || trade.trade.stats[0].stats4>0
      || trade.trade.stats[0].stats5>0
      || trade.trade.stats[0].stats6>0
      || trade.trade.stats[0].stats7>0
      || trade.trade.stats[0].stats8>0
      || trade.trade.stats[0].stats9>0
      || trade.trade.stats[0].stats10>0
      || trade.trade.stats[1].stats1>0
      || trade.trade.stats[1].stats2>0
      || trade.trade.stats[1].stats3>0
      || trade.trade.stats[1].stats4>0
      || trade.trade.stats[1].stats5>0
      || trade.trade.stats[1].stats6>0
      || trade.trade.stats[1].stats7>0
      || trade.trade.stats[1].stats8>0
      || trade.trade.stats[1].stats9>0
      || trade.trade.stats[1].stats10>0">
  <div class="col">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-baseline">
        <h6 class="card-title mb-0">Stats</h6>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive pt-3">
        <table class="table table-sm table-bordered text-center table-hover">
          <thead>
          <tr>
            <th class="text-left"><h4>Props</h4></th>
            <th><h4>{{trade.trade.selections[0].runnerName}}</h4></th>
            <th><h4>{{trade.trade.selections[1].runnerName}}</h4></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <h4 class="text-left">Service Hold %</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats1>trade.trade.stats[1].stats1 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats1}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats1>trade.trade.stats[0].stats1 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats1}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="text-left">Return Games W%</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats2>trade.trade.stats[1].stats2 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats2}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats2>trade.trade.stats[0].stats2 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats2}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="text-left">Break back %</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats3>trade.trade.stats[1].stats3 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats3}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats3>trade.trade.stats[0].stats3 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats3}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="text-left">Win set 1, wins in 2 sets %</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats4>trade.trade.stats[1].stats4 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats4}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats4>trade.trade.stats[0].stats4 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats4}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="text-left">Lost set 1, won set 2 %</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats5>trade.trade.stats[1].stats5 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats5}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats5>trade.trade.stats[0].stats5 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats5}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="text-left">Set and break win %</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats6>trade.trade.stats[1].stats6 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats6}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats6>trade.trade.stats[0].stats6 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats6}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="text-left">Current rank #</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats7<trade.trade.stats[1].stats7 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats7}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats7<trade.trade.stats[0].stats7 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats7}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="text-left">Highest Carrer rank #</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats8<trade.trade.stats[1].stats8 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats8}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats8<trade.trade.stats[0].stats8 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats8}}</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h4 class="text-left">TP Surface rank #</h4>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[0].stats9<trade.trade.stats[1].stats9 ? 'text-success' : 'text-danger'">{{trade.trade.stats[0].stats9}}</h5>
            </td>
            <td>
              <h5 [ngClass]="trade.trade.stats[1].stats9<trade.trade.stats[0].stats9 ? 'text-success' : 'text-danger'">{{trade.trade.stats[1].stats9}}</h5>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
