<div class="form-group">
  <label [ngClass]="title === 'back'? 'text-primary' : 'text-danger'">{{title ? title.toUpperCase() : ''}}</label>
  <input type="number"
         step='0.01'
         class="form-control"
         [(ngModel)]="oddsChild"
         name="odds"
         #odds="ngModel"
         [gte]="1.01"
         [lt]="1000"
         min="1.01"
         max="1000"
         (ngModelChange)="update()">
  <p class="text-danger" *ngIf="odds.errors?.gte">Must be greater than 1.01</p>
  <p class="text-danger" *ngIf="odds.errors?.lt">Must be less than than 1000</p>
</div>



