<!-- ROW 1-->
<div class="row">
  <div class="col">
    <h4 class="mt-2"> Net</h4>
    <app-columns-chart [title]="['Net']"
                                [isPercent]="false"
                                [isCurrency]="true"
                                [labels]="label"
                                [height]="height"
                                [colors]="['#ff3030']"
                                [wantStacked]="false"
                                [seriesData]="pl">
    </app-columns-chart>
  </div>
  <div class="col">
    <h4 class="mt-2"> P/L</h4>
    <app-columns-chart [title]="['Profit', 'Loss']"
                                [isPercent]="false"
                                [isCurrency]="true"
                                [labels]="label"
                                [height]="height"
                                [colors]="['#1fff32','#ff3030']"
                                [wantStacked]="true"
                                [seriesData]="profitLoss">
    </app-columns-chart>
  </div>
</div>
<!-- ROW 2-->
<div class="row">
  <div class="col">
    <h4 class="mt-2"> Trade</h4>
    <app-columns-chart [title]="['Trade']"
                                [isPercent]="false"
                                [isCurrency]="false"
                                [labels]="label"
                                [height]="height"
                                [colors]="['#fffb13']"
                                [wantStacked]="false"
                                [seriesData]="tradeNumber">
    </app-columns-chart>
  </div>
  <div class="col">
    <h4 class="mt-2"> Win Rate</h4>
    <app-columns-chart [title]="['Win Rate']"
                                [isPercent]="true"
                                [isCurrency]="false"
                                [labels]="label"
                                [height]="height"
                                [colors]="['#9c22ff']"
                                [wantStacked]="false"
                                [seriesData]="win">
    </app-columns-chart>
  </div>
</div>
<!-- ROW 3-->
<div class="row">
  <div class="col">
    <h4 class="mt-2"> DD</h4>
    <app-columns-chart [title]="['Max DD']"
                                [isPercent]="false"
                                [isCurrency]="true"
                                [labels]="label"
                                [height]="height"
                                [colors]="['#ff4f33']"
                                [wantStacked]="false"
                                [seriesData]="maxDd">
    </app-columns-chart>
  </div>
  <div class="col">
    <h4 class="mt-2"> Profit Factor</h4>
    <app-columns-chart [title]="['Profit Factor']"
                                [isPercent]="false"
                                [isCurrency]="false"
                                [labels]="label"
                                [height]="height"
                                [colors]="['#1b5aff']"
                                [wantStacked]="true"
                                [seriesData]="pf">
    </app-columns-chart>

  </div>
</div>
<!-- ROW 4-->
<div class="row">
  <div class="col">
    <h4 class="mt-2"> Avg Win/loss</h4>
    <app-columns-chart [title]="['Avg Win', 'Avg Loss']"
                                [isPercent]="false"
                                [isCurrency]="true"
                                [labels]="label"
                                [height]="height"
                                [colors]="['#1fff32','#ff3030']"
                                [wantStacked]="true"
                                [seriesData]="avgProfitLoss">
    </app-columns-chart>
  </div>
  <div class="col">
    <h4 class="mt-2"> Expected Value</h4>
    <app-columns-chart [title]="['Expected Value']"
                                [isPercent]="false"
                                [isCurrency]="true"
                                [labels]="label"
                                [height]="height"
                                [colors]="['#1bffff']"
                                [wantStacked]="true"
                                [seriesData]="expectedValue">
    </app-columns-chart>

  </div>
</div>

