<!-- CARD 1-->
<div class="card">
  <!-- HEADER -->
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-baseline">
      <h3>Distribution</h3>
    </div>
  </div><!-- /HEADER -->
  <div class="card-body"><!-- BODY -->

    <apx-chart
      [series]="lineChartOptions.series"
      [chart]="lineChartOptions.chart"
      [dataLabels]="lineChartOptions.dataLabels"
      [plotOptions]="lineChartOptions.plotOptions"
      [legend]="lineChartOptions.legend"
      [fill]="lineChartOptions.fill"
      [stroke]="lineChartOptions.stroke"
      [tooltip]="lineChartOptions.tooltip"
      [xaxis]="lineChartOptions.xaxis"
      [yaxis]="lineChartOptions.yaxis"
      [theme]="lineChartOptions.theme"
      [colors]="lineChartOptions.colors"
    ></apx-chart>

  </div><!-- /BODY -->
</div>
<!-- /CARD 1-->

