<!-- CARD 1-->
<div class="card">
  <!-- HEADER -->
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-baseline">
      <h6 class="card-title mb-0">Data Picker</h6>
      <!-- CARD OPTIONS -->
      <div ngbDropdown class="mb-2">
        <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton">
          <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm mr-2"></i> <span class="">View</span></a>
          <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm mr-2"></i> <span class="">Edit</span></a>
        </div>
      </div>
    </div><!-- /CARD OPTIONS -->
  </div><!-- /HEADER -->
  <div class="card-body"><!-- BODY -->
    <ngb-datepicker #dp [(ngModel)]="selectedDate" (navigate)="date = $event.next"></ngb-datepicker>
    <hr>
    <button class="btn btn-sm btn-primary mb-1 mb-md-0" (click)="selectToday()">Select Today</button>
    <button class="btn btn-sm btn-primary mb-1 mb-md-0" (click)="dp.navigateTo()">To current month</button>
    <hr>
    <p>Month: {{ date.month }}.{{ date.year }}</p>
    <p>Selected: {{ selectedDate | json }}</p>
  </div><!-- /BODY -->
  <div class="card-footer"><!-- FOOTER -->
    <div class="d-flex flex-row-reverse">
      <a href="" class="btn btn-primary">Open Markets</a>
    </div>
  </div><!-- / FOOTER -->
</div>



