<button type="button" class="btn btn-xs btn-outline-light" (click)="openVerticalCenteredModal(verticalCenteredModal)">
  <i class="feather icon-edit"></i>
  Edit
</button>

<!-- Modal -->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h2>Update Trade</h2>
    <button type="button" class="close" (click)="modal.close('close')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- INFO -->
    <div class="card">
      <div class="card-header">
        <h3>Info</h3>
      </div>
      <div class="card-body">

        <div class="form-group">
          <label for="marketName">Market Name</label>
          <input class="form-control"
                 id="marketName"
                 type="text"
                 placeholder="Market Name"
                 name="marketName"
                 [(ngModel)]="tradeOutput.trade.info.marketInfo.marketName">
        </div>

        <app-date-form [time]="tradeOutput.trade.info.date"
                       (dateEmitter)="updateDateTrade($event)"
                       [showTime]="true"
                       [showDate]="true">
        </app-date-form>

        <div class="row">
          <div class="col">
            <app-list-selection-form [title]="'Strategy'"
                                     [type]="'strategy'"
                                     (listSelectedEmitter)="setStrategy($event)"
                                     [selectedId]="tradeOutput.trade.info.strategyId">
            </app-list-selection-form>
          </div>
          <div class="col">
            <div class="form-group disabled">
              <label>Sport</label>
              <ng-select id="sport"
                         name="sport"
                         placeholder="Sport"
                         [items]="sport"
                         [(ngModel)]="tradeOutput.trade.info.marketInfo.sport"
                         (ngModelChange)="sportChange()">
              </ng-select>
            </div>
          </div>
          <div class="col">
            <app-list-selection-form [type]="'tennisTournament'"
                                     [selectedId]="tradeOutput.trade.info.tennisTournamentId"
                                     (listSelectedEmitter)="setTennisTournament($event)">
            </app-list-selection-form>
          </div>
        </div>
        <p class="text-danger">Importante!! Mettere sempre Strategy e Sport prima di tutte le bets e le selezioni</p>
        <div class="form-group">
          <label>Executor</label>
          <ng-select
            [items]="executor"
            [multiple]=true
            [closeOnSelect]="false"
            [searchable]="false"
            bindLabel="executor"
            placeholder="Select people"
            [(ngModel)]="tradeOutput.trade.info.executor">
          </ng-select>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exchange">Exchange</label>
              <ng-select [items]="exchange"
                         id="exchange"
                         name="exchange"
                         bindLabel="value"
                         bindValue="value"
                         placeholder="Exchange"
                         [(ngModel)]="tradeOutput.trade.info.exchange.name"
                         (ngModelChange)="exchangeChange()">
              </ng-select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="commissionRate">Commission</label>
              <input type="number" step='0.001'
                     class="form-control"
                     id="commissionRate"
                     [(ngModel)]="tradeOutput.trade.info.exchange.commission"
                     name="commissionRate"
                     min="0"
                     max="1">
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- SELECTIONS -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h3>Selection</h3>
      </div>
      <div class="card-body">

        <div class="form-group">
          <div class="row grid-margin">
            <button type="button" class="btn btn-secondary" (click)="addSelection()">+ Selection</button>
          </div>
          <!-- SELECTIONS MANAGER-->
          <div *ngFor="let runner of tradeOutput.trade.selections; let i=index">
            <div class="form-group">
              <label>Selection {{i+1}}: </label>
              <div class="row">
                <div class="col-10">

                  <app-runners-selection-form [runnerId]="tradeOutput.trade.selections[i].runnerId"
                                              (runnerSelectedEmitter)="setCurrentSelectionName($event,i)">
                  </app-runners-selection-form>

                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-danger" (click)="removeSelection(i)">X</button>
                </div>
              </div>
            </div>
            <!--BSP SELECTION-->
            <div class="row">
              <div class="col">
                <app-odd-form [title]="'BSP'"
                              [odds]="tradeOutput.trade.selections[i].bsp"
                              (oddsPointEmitter)="setBSPOdds($event,i)">
                </app-odd-form>
              </div>
              <div class="col">
                <app-bets-form [isBack]="true"
                               [isUpdate]="true"
                               [stake]="tradeOutput.trade.selections[i].avg.back.stake"
                               [odds]="tradeOutput.trade.selections[i].avg.back.odds"
                               (betsFormEmitter)="setSelectionAvgOdds($event,i)">

                </app-bets-form>
              </div>
              <div class="col">
                <app-bets-form [isBack]="false"
                               [isUpdate]="true"
                               [bank]="tradeOutput.trade.selections[i].avg.lay.stake"
                               [odds]="tradeOutput.trade.selections[i].avg.lay.odds"
                               [liability]="tradeOutput.trade.selections[i].avg.lay.liability"
                               (betsFormEmitter)="setSelectionAvgOdds($event,i)">
                </app-bets-form>
              </div>
            </div>
            <!--WINNER / LOSER-->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label text-success">
                      <input type="checkbox" class="form-check-input" name="winner{{i}}" id="winner{{i}}" [(ngModel)]="tradeOutput.trade.selections[i].winner">
                      <i class="input-frame"></i>
                      Winner
                    </label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label text-danger">
                      <input type="checkbox" class="form-check-input" name="looser{{i}}" id="looser{{i}}" [(ngModel)]="!tradeOutput.trade.selections[i].winner">
                      <i class="input-frame"></i>
                      Looser
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-danger">Importante!! Ci deve sempre essere un winner, metterne uno se non c'e ancora</p>
          </div>
        </div>
      </div>
    </div>
    <!-- FINAL RESULT -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h3>Final Result</h3>
      </div>
      <div class="card-body">
        <div *ngIf="tradeOutput.trade.info.marketInfo.sport === ('TENNIS')">
          <app-tennis-point [tennisPoint]="tradeOutput.trade.results.finalScore.tennis"
                            (tennisPointEmitter)="updateFinalResultTennis($event)"
                            [showGame]="false">

          </app-tennis-point>
        </div>
        <div *ngIf="tradeOutput.trade.info.marketInfo.sport === ('FOOTBALL')">
          <app-football-point [footballPoint]="tradeOutput.trade.results.finalScore.football"
                              (footballPointEmitter)="updateFinalResultFootball($event)">

          </app-football-point>
        </div>

      </div>
    </div>

    <!-- SELECTIONS -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-baseline">
          <h3>Bets</h3>
          <button type="button" [ngClass]="betsCollapse? 'btn btn btn-outline-primary' : 'btn btn btn-primary'"
                  (click)="betsCollapse = !betsCollapse">
            View
          </button>
        </div>
      </div>
      <!--BETS-->
      <div class="card-body" [ngbCollapse]="betsCollapse">
        <div class="form-group">
          <ul class="list-group mt-2">
            <!-- EDIT -->
            <div class="mt-2 mb-3" *ngFor="let bet of tradeOutput.trade.trades; index as h">
              <li class="list-group-item mt-2">
                <!-- BET TITLE -->
                <div class="row">
                  <div class="col">
                    <h4>{{h+1}}) {{tradeOutput.trade.selections[bet.selectionN].runnerName}}</h4>
                  </div>
                  <div class="col">
                    <h4 *ngIf="bet.type.indexOf('lay')!==-1" class="text-danger">Lay</h4>
                    <h4 *ngIf="bet.type.indexOf('back')!==-1" class="text-primary">Back</h4>
                  </div>
                  <div class="col">
                    <app-bet-options-formatter [betOptions]="bet.options"></app-bet-options-formatter>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="col">
                  <!-- TYPE -->
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="exchange">Selection</label>
                        <ng-select [items]="['0','1']"
                                   [id]="'selections'+h"
                                   [name]="'selections'+h"
                                   placeholder="Selection N"
                                   [(ngModel)]="bet.selectionN ">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="exchange">Bet Type</label>
                        <ng-select [items]="['back','lay']"
                                   [id]="'betType'+h"
                                   [name]="'betType'+h"
                                   placeholder="Bet Type"
                                   [(ngModel)]="bet.type">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="exchange">Bet Options</label>
                        <ng-select [items]="['OPEN','INCREASE MARGIN', 'DECREASE MARGIN', 'CLOSE' ,'FREE BET', 'ADJ']"
                                   [id]="'betOptions'+h"
                                   [name]="'betOptions'+h"
                                   placeholder="Bet Options"
                                   [(ngModel)]="bet.options">
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <!-- BET VALUE -->
                  <div class="row">
                    <div class="col">
                      <app-odd-form [title]="bet.type"
                                    [odds]="bet.odds"
                                    (oddsPointEmitter)="setBetsOdds($event,h)">
                      </app-odd-form>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label [for]="'stake'+h" *ngIf="bet.type==='back'">Stake</label>
                        <label [for]="'stake'+h" *ngIf="bet.type==='lay'">Bank</label>
                        <input type="number" step='0.01'
                               class="form-control"
                               [id]="'stake'+h"
                               [(ngModel)]="bet.stake"
                               [name]="'stake'+h"
                               min="0">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label [for]="'liability'+h">Liability</label>
                        <input type="number" step='0.01'
                               class="form-control"
                               [id]="'liability'+h"
                               [(ngModel)]="bet.liability"
                               [name]="'liability'+h"
                               min="0">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label [for]="'ifWin'+h">To Win</label>
                        <input type="number" step='0.01'
                               class="form-control"
                               [id]="'ifWin'+h"
                               [(ngModel)]="bet.ifWin"
                               [name]="'ifWin'+h"
                               min="0">
                      </div>
                    </div>
                  </div>
                  <!-- POINT -->
                  <app-tennis-point [tennisPoint]="bet.condition.tennis.point"
                                    [index]="h"
                                    (tennisPointEmitter)="updateTradeResultTennis($event, h)"
                                    [showGame]="true">

                  </app-tennis-point>
                  <!-- TIME -->
                  <app-date-form [time]="bet.condition.time"
                                 [showDate]="true"
                                 [showTime]="true"
                                 (dateEmitter)="updateBetsDate($event,bet)">
                  </app-date-form>
                  <!-- NOTE -->
                  <div class="form-group">
                    <label [for]="'tradeNote'+h">Bet Note</label>
                      <input class="form-control"
                             type="text"
                             placeholder="Note"
                             [name]="'tradeNote'+h"
                             [(ngModel)]="bet.condition.note">
                  </div>
                  <!-- DELETE -->
                  <button type="button" class="btn-xs btn-danger" (click)="removeBets(h)">
                    <i class="feather icon-x"></i>
                  </button>
                </div>
              </li>
            </div>
            <!-- BETS VIEW -->
            <app-trade-bets-view *ngIf="!betsCollapse"
                                 [trade]="tradeOutput"
                                 [onlyBets]="true">
            </app-trade-bets-view>
          </ul>
        </div>
      </div>
    </div>
    <!-- RESULT ON SELECTIONS -->
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h3>Results</h3>
      </div>
      <div class="card-body">
        <div class="col mb-2">
          <div class="row grid-margin">
            <div class="col">
              <h3>Gross</h3>
              <input type="number"
                     class="form-control"
                     id="gross"
                     [(ngModel)]="tradeOutput.trade.results.grossProfit"
                     name="gross"
                     step="0.01">
            </div>
            <div class="col">
              <h3>Net</h3>
              <input type="number"
                     class="form-control"
                     id="netPl"
                     [(ngModel)]="tradeOutput.trade.results.netProfit"
                     name="netPl"
                     step="0.01">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row grid-margin">
            <div class="col">
              <div class="form-group">
                <h4>Max Risk</h4>
                <input type="number"
                       class="form-control"
                       id="maxRisk"
                       name="maxRisk"
                       step="0.01"
                       [(ngModel)]="tradeOutput.trade.results.maxRisk">
              </div>
            </div>
            <div class="col">
              <h4>RR</h4>
              <input type="number"
                     class="form-control"
                     id="rr"
                     [(ngModel)]="tradeOutput.trade.results.rr"
                     name="r"
                     step="0.01">
            </div>
          </div>
          <div class="row grid-margin">
            <div class="col">
              <h4 class="text-warning">Commission</h4>
              <input type="number"
                     class="form-control"
                     id="commission"
                     [(ngModel)]="tradeOutput.trade.results.commissionPaid"
                     name="commission"
                     step="0.01">
            </div>
            <div class="col">
              <h4 class="text-warning">Impact {{ tradeOutput.trade.results.commissionPaid / tradeOutput.trade.results.grossProfit | percent}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
    <!-- NOTE -->
    <div class="row">
      <div class="col">
        <div class="card mt-2 mb-2">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3>Notes</h3>
              <button type="button" [ngClass]="noteCollapse? 'btn btn btn-outline-primary' : 'btn btn btn-primary'"
                      (click)="noteCollapse = !noteCollapse">
                View
              </button>
            </div>
          </div>
          <div class="card-body" [ngbCollapse]="noteCollapse">

            <div class="form-group">
              <label for="description">Description Note</label>
              <textarea class="form-control" id="description" rows="10"  placeholder="Description Note" name="description"
                        [(ngModel)]="tradeOutput.trade.info.note.description"></textarea>
            </div>
            <div class="form-group">
              <label for="entry">Entry Note</label>
              <textarea class="form-control" id="entry" rows="10"  placeholder="Entry Note" name="entry"
                        [(ngModel)]="tradeOutput.trade.info.note.entry"></textarea>
            </div>
            <div class="form-group">
              <label for="position">Position</label>
              <textarea class="form-control" id="position" rows="5"  placeholder="Position Note" name="position"
                        [(ngModel)]="tradeOutput.trade.info.note.position"></textarea>
            </div>
            <div class="form-group">
              <label for="exit">Exit Note</label>
              <textarea class="form-control" id="exit" rows="5"  placeholder="Exit Note" name="exit"
                        [(ngModel)]="tradeOutput.trade.info.note.exit"></textarea>
            </div>
            <div class="form-group">
              <label for="mm">MM Note</label>
              <textarea class="form-control" id="mm" rows="5"  placeholder="MM Note" name="mm"
                        [(ngModel)]="tradeOutput.trade.info.note.mm"></textarea>
            </div>
            <div class="form-group">
              <label for="odds">Odds Note</label>
              <textarea class="form-control" id="odds" rows="5"  placeholder="Odds Note" name="odds"
                        [(ngModel)]="tradeOutput.trade.info.note.odds"></textarea>
            </div>
            <div class="form-group">
              <label for="post">Post Note</label>
              <textarea class="form-control" id="post" rows="5"  placeholder="Post Note" name="post"
                        [(ngModel)]="tradeOutput.trade.info.note.post"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('update')">Update</button>
  </div>

</ng-template>



<!-- CREATE BETS
<div class="card mt-2 mb-2">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-baseline">
      <h3>Add Trade</h3>
      <button type="button" [ngClass]="addTradeCollapse? 'btn btn btn-outline-primary' : 'btn btn btn-primary'"
              (click)="addTradeCollapse = !addTradeCollapse">
        View
      </button>
    </div>
  </div>
  <div class="card-body" [ngbCollapse]="addTradeCollapse">
    <h6>Create new Trade</h6>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label text-primary">
              <input type="checkbox"
                     class="form-check-input"
                     name="back"
                     id="back"
                     [(ngModel)]="supportBets.isBackEntry">
              <i class="input-frame"></i>
              Back
            </label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label text-danger">
              <input type="checkbox"
                     class="form-check-input"
                     name="lay"
                     id="lay"
                     [(ngModel)]="supportBets.isLay">
              <i class="input-frame"></i>
              Lay
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-odd-form [title]="'Odds'"
                      (oddsPointEmitter)="setBetsOdds($event)">
        </app-odd-form>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="stake">Stake / Bank</label>
          <input type="number" step='0.01'
                 class="form-control"
                 id="stake"
                 [(ngModel)]="supportBets.stake"
                 name="stake"
                 min="0">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="form-group">
          <label for="selection">Selection </label>
          <ng-select id="selection"
                     name="selection"
                     placeholder="Selection"
                     [(ngModel)]="supportBets.selection">
            <ng-option
              *ngFor="let selection of tradeOutput.trade.selections"
              [value]="selection"
            >{{selection.runnerName}}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn-xs btn-success" (click)="addBet()">+</button>
      </div>
    </div>

    <div>
      <div *ngIf="supportBets.condition.horse.isHorse">
        <div class="form-group">
          <label for="horseBetNote">Note</label>
          <input class="form-control"
                 id="horseBetNote"
                 type="text"
                 placeholder="Note"
                 name="horseBetNote"
                 [(ngModel)]="supportBets.condition.note">
        </div>
        <app-date-form [time]="null"
                       [showTime]="true"
                       [showDate]="true"
                       (dateEmitter)="updateDateBets($event)">
        </app-date-form>
      </div>
      <div *ngIf="supportBets.condition.football.isFootball">
        <div class="form-group">
          <label for="footballBetNote">Note</label>
          <input class="form-control"
                 id="footballBetNote"
                 type="text"
                 placeholder="Note"
                 name="footballBetNote"
                 [(ngModel)]="supportBets.condition.note">
        </div>
        <app-date-form [time]="null"
                       [showTime]="true"
                       [showDate]="true"
                       (dateEmitter)="updateDateBets($event)">

        </app-date-form>
        <app-football-point [footballPoint]="supportBets.condition.football.point" (footballPointEmitter)="updateFootballPoint($event)" ></app-football-point>
      </div>
      <div  *ngIf="supportBets.condition.tennis.isTennis">
        <div class="form-group">
          <label for="tennisBetNote">Note</label>
          <input class="form-control"
                 id="tennisBetNote"
                 type="text"
                 placeholder="Note"
                 name="tennisBetNote"
                 [(ngModel)]="supportBets.condition.note">
        </div>
        <app-date-form [time]="null"
                       [showTime]="true"
                       [showDate]="true"
                       (dateEmitter)="updateDateBets($event)">

        </app-date-form>
        <div class="row">
          <div class="col">
            <app-tennis-point [tennisPoint]="supportBets.condition.tennis.point"
                              (tennisPointEmitter)="updateTennisPoint($event)"
                              [showGame]="true">

            </app-tennis-point>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
