<apx-chart #chartObj
           [series]="lineChartOptions.series"
           [yaxis]="lineChartOptions.yaxis"
           [chart]="lineChartOptions.chart"
           [dataLabels]="lineChartOptions.dataLabels"
           [plotOptions]="lineChartOptions.plotOptions"
           [legend]="lineChartOptions.legend"
           [fill]="lineChartOptions.fill"
           [stroke]="lineChartOptions.stroke"
           [tooltip]="lineChartOptions.tooltip"
           [theme]="lineChartOptions.theme">
</apx-chart>

