<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-baseline">
      <h6 class="card-title mb-0">All Players List</h6>
    </div>
  </div>
  <div class="card-body">

    <div class="d-flex justify-content-end align-items-center">
      <form class="form-group mr-2" #searchFormPlayers="ngForm">
        <div class="row">
          <input
            class="form-control"
            type="text"
            placeholder="Search..."
            (keyup)="updateFilter($event)"
          />
        </div>
      </form>
    </div>


    <ngx-datatable
      class="dark"
      style="height: 800px"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="40"
      [footerHeight]="50"
      [limit]="10"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [rowHeight]="50"
      [reorderable]="true"
      [sorts]="[{prop: 'lastUpdate', dir: 'asc'}]">

      <ngx-datatable-column name="Date" prop="lastUpdate">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p>{{ value | date:'M/d/yy, H:mm' }}</p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Name" prop="players.name">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p>{{ value }}</p>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Tools" prop="">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="d-flex justify-content-end align-items-center">

            <button type="button" class="btn btn-icon btn-outline-success mr-2" (click)="onDuplicateClick(value)">
              <i class="feather icon-copy"></i>
            </button>

            <button type="button" class="btn btn-icon mr-2" [ngClass]="selectedPlayerId === value._id ? 'btn-info' : 'btn-outline-info'" (click)="onClick(value._id)">
              <i class="feather icon-eye"></i>
            </button>

            <app-delete-modal [type]="'Basket'"
                              [id]="value._id"
                              [name]="value.players.name"
                              (deleteEmitter)="deleteModal($event)">
            </app-delete-modal>
          </div>
        </ng-template>
      </ngx-datatable-column>


    </ngx-datatable>

  </div>
  <div class="card footer">
    <div class="d-flex flex-row-reverse">
      <button type="button"
              class="btn btn-icon btn-secondary mr-2"
              (click)="reset()">
        <i class="feather icon-rotate-cw"></i>
        Reset
      </button>
    </div>
  </div>
</div>



