<div class="card">
  <!-- HEADER -->
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-baseline">
      <h6 class="card-title mb-0">MM Params</h6>
    </div>
  </div>
  <!-- BODY -->
  <div class="card-body">
    <div class="col">
      <div class="form-group">
        <label for="t0Capital">Initial Capital [€]</label>
        <input type="number"
               step='1'
               class="form-control"
               id="t0Capital"
               [(ngModel)]="mmParams.t0capital"
               name="t0Capital"
               min="0">
      </div>
      <!-- FIXED-->
      <div class="form-group">
        <label for="fixedStake">Fixed Stake [€]</label>
        <input type="number"
               step='1'
               class="form-control"
               id="fixedStake"
               [(ngModel)]="mmParams.params.fixedStake"
               name="fixedStake"
               min="0">
      </div>
      <!-- MARTINGALA -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="martingalaK">Martingala K [n]</label>
            <input type="number"
                   step='0.01'
                   class="form-control"
                   id="martingalaK"
                   [(ngModel)]="mmParams.params.martingala.k"
                   name="martingalaK"
                   min="0">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="martingalaMaxStake">Max Stake [€]</label>
            <input type="number"
                   step='1'
                   class="form-control"
                   id="martingalaMaxStake"
                   [(ngModel)]="mmParams.params.martingala.maxStake"
                   name="martingalaMaxStake"
                   min="0">
          </div>
        </div>
      </div>
      <!-- FIXED FRACTIONAL-->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="fixedFractional">Fixed Fractional [%]</label>
            <input type="number"
                   step='0.01'
                   class="form-control"
                   id="fixedFractional"
                   [(ngModel)]="mmParams.params.fixedFractional.f"
                   name="fixedFractional"
                   min="0"
                   max="0.99">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="fixedFractionalMaxStake">Max Stake [€]</label>
            <input type="number"
                   step='0.01'
                   class="form-control"
                   id="fixedFractionalMaxStake"
                   [(ngModel)]="mmParams.params.fixedFractional.maxStake"
                   name="fixedFractionalMaxStake"
                   min="0">
          </div>
        </div>
      </div>
      <!-- FIXED RATIO-->
      <h5>Fixed Ratio</h5>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="fixedRatioDelta">Fixed Ratio Delta </label>
            <input type="number"
                   step='1'
                   class="form-control"
                   id="fixedRatioDelta"
                   [(ngModel)]="mmParams.params.fixedRatio.delta"
                   name="fixedRatioDelta"
                   min="0">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="fixedRatioPercent">Fixed Ratio percent </label>
            <input type="number"
                   step='1'
                   class="form-control"
                   id="fixedRatioPercent"
                   [(ngModel)]="mmParams.params.fixedRatio.ratio"
                   name="fixedRatioPercent"
                   min="0">
          </div>
        </div>
      </div>
      <!-- FIXED RATIO-->
      <h5>Fixed Ratio</h5>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="kellyWinRate">Kelly Win Rate </label>
            <input type="number"
                   step='0.01'
                   class="form-control"
                   id="kellyWinRate"
                   [(ngModel)]="mmParams.params.kelly.w"
                   name="kellyWinRate"
                   min="0">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="kellyRR">Kelly RR</label>
            <input type="number"
                   step='0.01'
                   class="form-control"
                   id="kellyRR"
                   [(ngModel)]="mmParams.params.kelly.R"
                   name="kellyRR"
                   min="0">
          </div>
        </div>
        <h5>{{(mmParams.params.kelly.w -((1-mmParams.params.kelly.w)/mmParams.params.kelly.R)) | percent:'0.2'}}</h5>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <div class="d-flex flex-row-reverse">

      <button type="button"
              class="btn btn-icon btn-danger btn-icon-text "
              (click)="calculate()">
        <i class="btn-icon-prepend" data-feather="fast-forward" appFeatherIcon></i>
        Calculate
      </button>

      <button type="button"
              class="btn btn-icon btn-secondary btn-icon-text mr-2"
              (click)="resetMmParams()">
        <i class="btn-icon-prepend" data-feather="x-octagon" appFeatherIcon></i>
        Reset
      </button>
    </div>
  </div>
</div>
