<div *ngIf="wantMonetary">
  <h5>DD Monetary - Bank: {{bank |currency}}</h5>
  <apx-chart #chartObj1
             [series]="lineChartOptionsMonetary.series"
             [chart]="lineChartOptionsMonetary.chart"
             [dataLabels]="lineChartOptionsMonetary.dataLabels"
             [plotOptions]="lineChartOptionsMonetary.plotOptions"
             [legend]="lineChartOptionsMonetary.legend"
             [fill]="lineChartOptionsMonetary.fill"
             [stroke]="lineChartOptionsMonetary.stroke"
             [tooltip]="lineChartOptionsMonetary.tooltip"
             [xaxis]="lineChartOptionsMonetary.xaxis"
             [yaxis]="lineChartOptionsMonetary.yaxis"
             [theme]="lineChartOptionsMonetary.theme"
             [colors]="lineChartOptionsMonetary.colors">
  </apx-chart>
</div>
<div *ngIf="wantPercent">
  <h5>DD Percent - Bank: {{bank |currency}}</h5>
  <apx-chart #chartObj2
             [series]="lineChartOptionsPercent.series"
             [chart]="lineChartOptionsPercent.chart"
             [dataLabels]="lineChartOptionsPercent.dataLabels"
             [plotOptions]="lineChartOptionsPercent.plotOptions"
             [legend]="lineChartOptionsPercent.legend"
             [fill]="lineChartOptionsPercent.fill"
             [stroke]="lineChartOptionsPercent.stroke"
             [tooltip]="lineChartOptionsPercent.tooltip"
             [xaxis]="lineChartOptionsPercent.xaxis"
             [yaxis]="lineChartOptionsPercent.yaxis"
             [theme]="lineChartOptionsPercent.theme"
             [colors]="lineChartOptionsPercent.colors">
  </apx-chart>

</div>

