<!-- CARD 1-->
<div class="card">
  <!-- HEADER -->
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-baseline">
      <h3 *ngIf="!isSaved && !isBacktest" class="text-secondary">Strategy List</h3>
      <h3 *ngIf="isBacktest" class="text-danger">Backtest List</h3>
      <h3 *ngIf="isSaved" class="text-warning">Saved Report List</h3>

      <button type="button"
              [ngClass]="isCollapsed? 'btn btn btn-outline-primary' : 'btn btn btn-primary'"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        View
      </button>
    </div>
  </div>
  <!-- BODY -->
  <div class="card-body" [ngbCollapse]="isCollapsed">
    <!-- ROW -->
    <div class="d-flex justify-content-end align-items-center">

      <app-strategy-create-modal *ngIf="!isSaved && !isBacktest"
                                 class="mr-3"
                                 (addStrategyCreateEmitter)="createModal($event)">
      </app-strategy-create-modal>

      <button type="button" class="btn btn mr-3 mb-2"
              [ngClass]="viewId ? 'btn-primary' : 'btn-outline-primary' "
              (click)="viewId= !viewId">
        View Id
      </button>

      <form class="form-group">
        <div class="row ">
          <div class="col">
            <div class="form-group">
              <label for="name">Find by Name</label>
              <input
                class="form-control"
                type="text"
                id="name"
                placeholder="Type name..."
                [(ngModel)]="search"
                name="search"
                (ngModelChange)="updateFilter()"/>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <!-- OPTIONS -->
              <label for="tableSize">Table size</label>
              <ng-select id="tableSize"
                         name="options"
                         [(ngModel)]="tableSize"
                         [items]="[5, 10,15,20,25,30,40,50,100,200,250,500,1000]"
                         [clearable]="false">
              </ng-select>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- TABLE -->
    <ngx-datatable
      class="dark"
      [rows]="strategyDatatable"
      [loadingIndicator]="loadingIndicator"
      [columnMode]="ColumnMode.force"
      [headerHeight]="40"
      [footerHeight]="50"
      [limit]=tableSize
      rowHeight="auto"
      [reorderable]="true"
      [sorts]="!isSaved ? [{prop: 'pl', dir: 'desc'}] : [{prop: 'savedReport.updated', dir: 'desc'}]">

      <ngx-datatable-column name="Id" prop="_id" *ngIf="viewId">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value }}</h5>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Date" prop="savedReport.updated" *ngIf="isSaved" [width]="270">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value | date:'short' }}</h5>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Date" prop="backtest.updated" *ngIf="isBacktest" [width]="270">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value | date:'short' }}</h5>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Name" prop="name" [width]="350" *ngIf="!isBacktest">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value }}</h5>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Name" prop="backtest.backtest.name" [width]="350" *ngIf="isBacktest">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value }}</h5>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Year" prop="year" *ngIf="!isSaved && !isBacktest">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5 [ngClass]="value===2021 ? 'text-info' : 'text-light'">{{ value }}</h5>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="# of Trade" prop="numberOfTrade">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h4>{{ value }}</h4>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Executor" prop="executor" *ngIf="!isSaved && !isBacktest" [width]="60">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value}}</h5>
        </ng-template>
      </ngx-datatable-column>

      <!-- SAVED REPORT -->
      <ngx-datatable-column name="Comment" prop="savedReport.savedReport.comment" *ngIf="isSaved" [width]="400">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value}}</h5>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Type" prop="savedReport.savedReport.type" *ngIf="isSaved" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value}}</h5>
        </ng-template>
      </ngx-datatable-column>

      <!-- BACKTEST -->
      <ngx-datatable-column name="Comment" prop="backtest.backtest.comment" *ngIf="isBacktest" [width]="400">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value}}</h5>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Type" prop="backtest.backtest.type" *ngIf="isBacktest" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5>{{ value}}</h5>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Pl" prop="pl">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h4 [ngClass]="value>0 ? 'text-success' : value ===0 ? 'text-warning' : 'text-danger'">{{ value | currency }}</h4>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Pl %" prop="plPercent">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5 class="text-primary">{{ value | percent }}</h5>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Max DD" prop="maxDD">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5 class="text-danger">{{ value | currency }}</h5>
        </ng-template>
      </ngx-datatable-column>

      <!--
      <ngx-datatable-column name="Max DD %" prop="maxDDPercent">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5 class="text-danger">{{ value | percent }}</h5>
        </ng-template>
      </ngx-datatable-column>
      -->

      <ngx-datatable-column name="Win ratio" prop="winRatio" [width]="60">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <h5 [ngClass]="value>0.60 ? 'text-success' : value>0.30 ? 'text-warning' : 'text-danger'">{{ value | percent }}</h5>
        </ng-template>
      </ngx-datatable-column>

      <!-- TOOLS NORMAL STRATEGY-->
      <ngx-datatable-column name="Tolls" prop="" *ngIf="!isSaved && !isBacktest" [width]="250">
        <ng-template let-value="value"  ngx-datatable-cell-template>

          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-icon mr-2" [ngbTooltip]="viewReportTooltip"
                    [ngClass]="selectedStrategyId === value._id ? 'btn-info' : 'btn-outline-info'"
                    (click)="clickSelectStrategy(value._id)"
                    [disabled]="value.numberOfTrade===0">
              <i class="feather icon-eye"></i>
            </button>
            <button type="button"
                    [ngbTooltip]="compareTooltip"
                    class="btn btn-icon mr-2"
                    [ngClass]="compareList.indexOf(value._id)===0 ? 'btn-warning': compareList.indexOf(value._id)!==-1 ? 'btn-success' : 'btn-outline-success'"
                    (click)="addToCompare(value._id)"
                    (contextmenu)="firstToCompare($event,value._id)">
              <i class="feather icon-plus-circle"></i>
            </button>
            <app-delete-modal [id]="value.strategy._id"
                              [ngbTooltip]="deleteTooltip"
                              [options]="'Delete'"
                              [type]="'strategy'"
                              (deleteEmitter)="deleteModal($event)">
            </app-delete-modal>
            <app-strategy-updates-modal [strategyInput$]="value.strategy"
                                        [ngbTooltip]="editTooltip"
                                        (strategyUpdateEmitter)="updateModal($event)">
            </app-strategy-updates-modal>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <!-- TOOLS SAVED-->
      <ngx-datatable-column name="Tolls" prop="" *ngIf="isSaved"  [width]="350">
        <ng-template let-value="value"  ngx-datatable-cell-template>
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-icon mr-2" [ngbTooltip]="viewReportTooltip"
                    [ngClass]="selectedSavedReportId === value._id ? 'btn-info' : 'btn-outline-info'"
                    (click)="clickSelectSavedReport(value._id)"
                    [disabled]="value.numberOfTrade===0">
              <i class="feather icon-eye"></i>
            </button>
            <button type="button"
                    [ngbTooltip]="compareTooltip"
                    class="btn btn-icon mr-2"
                    [ngClass]="compareSavedReportList.indexOf(value._id)===0 ? 'btn-warning': compareSavedReportList.indexOf(value._id)!==-1 ? 'btn-success' : 'btn-outline-success'"
                    (click)="addToCompareSavedReport(value._id)"
                    (contextmenu)="firstToCompareSavedReport($event,value._id)">
              <i class="feather icon-plus-circle"></i>
            </button>
            <button type="button"
                    [ngbTooltip]="duplicateTooltip"
                    class="btn btn-icon btn-outline-info mr-2"
                    (click)="duplicateSavedReport(value.savedReport)">
              <i class="feather icon-copy"></i>
            </button>
            <app-delete-modal [id]="value.strategy._id"
                              [ngbTooltip]="deleteSavedTooltip"
                              [options]="'Delete'"
                              [type]="'saved Report'"
                              (deleteEmitter)="deleteSavedReportModal($event)">
            </app-delete-modal>
            <app-strategy-report-saved-updates [savedReport]="value.savedReport"
                                               [ngbTooltip]="editSavedReportTooltip"
                                               (updateSavedReportEmitter)="updateSavedReport($event)">
            </app-strategy-report-saved-updates>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <!-- TOOLS BACKTEST-->
      <ngx-datatable-column name="Tolls" prop="" *ngIf="isBacktest"  [width]="350">
        <ng-template let-value="value"  ngx-datatable-cell-template>
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-icon mr-2" [ngbTooltip]="viewReportTooltip"
                    [ngClass]="selectedBacktestId === value._id ? 'btn-info' : 'btn-outline-info'"
                    (click)="clickSelectBacktest(value, value._id)"
                    [disabled]="value.numberOfTrade===0">
              <i class="feather icon-eye"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </div>
  <!-- FOOTER -->
  <div class="card-footer" *ngIf="!isCollapsed && !isSaved">
    <button type="button"
            class="btn btn-icon btn-icon-text mr-2"
            [ngClass]="compareStatus ? 'btn-primary' : 'btn-outline-primary' "
            (click)="compare()">
      <i class="btn-icon-prepend" data-feather="share-2" appFeatherIcon></i>
      Compare
    </button>
    <button type="button"
            class="btn btn-icon btn-outline-info btn-icon-text mr-2"
            (click)="compareAll()">
      <i class="btn-icon-prepend" data-feather="share-2" appFeatherIcon></i>
      Compare All
    </button>
    <button type="button"
            class="btn btn-icon btn-secondary btn-icon-text mr-2"
            (click)="resetCompare()">
      <i class="btn-icon-prepend" data-feather="rotate-cw" appFeatherIcon></i>
      Reset
    </button>
  </div>
  <!-- FOOTER SAVED REPORT -->
  <div class="card-footer" *ngIf="!isCollapsed && isSaved">
    <button type="button"
            class="btn btn-icon btn-icon-text mr-2"
            [ngClass]="compareSavedReportStatus ? 'btn-primary' : 'btn-outline-primary' "
            (click)="compareSavedReport()">
      <i class="btn-icon-prepend" data-feather="share-2" appFeatherIcon></i>
      Compare Saved Report
    </button>
    <button type="button"
            class="btn btn-icon btn-outline-info btn-icon-text mr-2"
            (click)="compareAllSavedReport()">
      <i class="btn-icon-prepend" data-feather="share-2" appFeatherIcon></i>
      Compare All Saved Report
    </button>
    <button type="button"
            class="btn btn-icon btn-secondary btn-icon-text mr-2"
            (click)="resetCompareSavedReport()">
      <i class="btn-icon-prepend" data-feather="rotate-cw" appFeatherIcon></i>
      Reset Saved Report
    </button>
  </div>

</div>


<!-- TEMPLATE -->
<ng-template #compareTooltip>
  <p>Add to compare, right click to place first</p>
</ng-template>

<ng-template #duplicateTooltip>
  <p>Duplicate Saved Report</p>
</ng-template>

<ng-template #viewReportTooltip>
  <p>View Report</p>
</ng-template>

<ng-template #editTooltip>
  <p>Edit Strategy</p>
</ng-template>

<ng-template #editSavedReportTooltip>
  <p>Edit Saved Report</p>
</ng-template>

<ng-template #deleteTooltip>
  <p>Delete Strategy</p>
</ng-template>

<ng-template #deleteSavedTooltip>
  <p>Delete SavedReport</p>
</ng-template>
